@import "variables";

body{
  //background-color: $shiri;
  direction: rtl;
  text-align: right;
 overflow-x: hidden;

}

.bg-color {
  background: url(../../assets/img/pattern.png) #f9f9f9;
  padding:40px 0px 40px 0;

}

.bg-seccond {
  background: url(../../assets/img/pattern.png);
  padding:30px 0px 30px 0;
  /*padding: 40px 0 55px;;*/
}

.blue {
  background-color: #C5EBF7;
}

.calltoaction {
  padding: 25px 0;
  background: #E1EBED;
  color: black;
  margin-bottom: 0;
  position: relative;
  border-top: 4px solid #dce5e7;
}

.back {
  background: url(../../assets/img/pooyasazan.jpg);
  height: 50vh;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}



.panel{
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  background: #f2f2f2;

  border-radius: 7px;

}


.panel ul {
  list-style-type: none;
  width: 100%;
  display: table;
  padding: 0.5px;
}
.panel li {

  display: table-cell;
  width: 50%;
  background-color: #F5F5F5;
  padding: 5px;
  margin: 8px 0 8px 0;
}



/*--------grid is good--------*/
.panel-jadval {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  background: #f2f2f2;

  border-radius: 7px;

}


.panel-jadval ul {
  list-style-type: none;
  width: 100%;
  display: table;
  padding: 0.5px;
}
.panel-jadval li {

  display: table-cell;
  width: 50%;
  background-color: #F5F5F5;
  padding: 10px;
  margin: 8px 0 8px 0;

  //min-height: 30px;
}

.card{

  width: 100%;
  display: block;
  justify-content: center;

}


.dropbtn {
  //background-color: #4CAF50;
  color: white;
  //padding: 16px;
  //font-size: 16px;
  border: none;

}

.dropdowni {
  position: relative;
  //display: inline-block;
  //text-align: right;

}

.dropdown-content {
  border-top: 5px solid #fe8f8c;

  display: none;
  position: absolute;
  right: 10px;
  top:36px;
  text-align: right;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  //padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 12px;
  //border-bottom: 1px solid #c9c9c9;
 //z-index: 100;
}

.dropdown-content a:hover {background-color: #ddd; }

.dropdowni:hover .dropdown-content {display: block;
}

.dropdowni:hover .dropbtn {}

//




#slidshow .slick-dots {
  bottom: 30px !important;
}

#slidshow .slick-dots li button:before {
  content:'';
 }

//#slidshow .flex-control-paging li a.flex-active{
//  background: #ffdc28;
//
//}

#slidshow .slick-dots li button:after {
  content:'';
}

#slidshow .slick-dots li button{
  background: #C5EBF7;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#slidshow .slick-dots li.slick-active button{
  background: red;
}

@media (max-width: 480px) {
  #slidshow .slick-dots {
    //top:30px!important;
    bottom: 0 !important;

  }
}


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/iranSans/persianNum/eot/IRANSansWeb.eot');
  src: url('../../assets/iranSans/persianNum/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../../assets/iranSans/persianNum/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../../assets/iranSans/persianNum/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../assets/iranSans/persianNum/ttf/IRANSansWeb.ttf') format('truetype');
}

body{
  font-family: 'IRANSans';
  font-size: 13px;
}
h2{
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
h3{
  font-size: 16px;
  font-weight: bold;
  text-align: right;

}

.card-uls{
  direction: ltr;
}

//---------domain tab link-------
.domain-tabs .nav-link {
  display: block;
  padding: 0 0.5rem;

}

.domain-tabs .nav-tabs .nav-link {
  border: 1px solid white;
  padding: 10px ;


}

.domain-tabs a{
  background-color: #4b4b4b;
  text-decoration: none;
  color: white;

}

.tamdid .table th, .table td {
  border-top: 0;
}

@media (max-width: 480px) {

.back-domain{
  text-align: center;
  direction: initial;
  padding:0;
  margin: 0;
}

  .domain-tabs .nav{
    display: block;
    padding:0;
    margin: 0;
    list-style: none;
  }

  .tamdid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: -webkit-center;

  }
  .panel{
    width: 50%;
  }

  .block-table{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: -webkit-center;
    td{
      border-top: 5px solid white;
    }

  }
  .label{
    //width: 50%;
  }
}



//-------------------


.panel-jadval{
  text-align: right
}
.jadval i{
  text-align: right;
  justify-content: right;
  /*display: flex;*/
  /*flex-direction: row-reverse;*/
  font-size: 12px;
  padding: 5px;

}

.jadval {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.jadval li {
  flex: 0 0 50%;
  /*border: 1px solid grey;*/
  /*padding: 1em;*/
  display: inline-block;
  align-items: flex-end;
}

.date i::before {
  /*content: "\f044";*/
  /*padding-right: 5px;*/
  font-style: normal;
  display: flex;
}


//---------------sidenav------------






.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav-backdrop {

  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
  top: 0;
  left: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*z-index: 1000;*/
  /*!*position: absolute;*!*/
  /*top: 0;*/
}

.sidenav {
  height: 100%;
  /*width:180px;*/
  background-color: white;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 2px;
  min-width:38vh;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}
.slide-side-enter,
  /*----for opening left navbar translate(-100%)*/
.slide-side-leave-to {
  transform: translateX(100%);
}

