<template>
    <div class="back-color">
      <div class="container">
        <div class="row  text-white">



          <div class="col-md-4 ">


            <h4 class="titl"> پویاسازان</h4>
            <ul class="footer">
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>تخفیف ویژه عید تا عید 1399</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>تخفیف ویژه دهه کرامت</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>تخفیف ویژه عید سعید فطر 1399</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>ارائه سرویس هاست بصورت ۳ماهه و ۶ماهه</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>سرویس جدید سرور مجازی NVMe با تخفیف ویژه</li>
              <li>همچنان در کنار شما هستیم...</li>

            </ul>
          </div>





          <div class="col-md-4">

            <h4 class="titl"> اخبار فناوری اطلاعات</h4>
            <ul class="footer">

              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>امکان هک پرینتر از طریق نقص امنیتی کشف‌شده در ویندوز</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>توییتر قابلیت ترجمه خودکار را آزمایش می‌کند</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>ممنوعیت وی‌چت کسب و کار اپل را تهدید می‌کند</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>افزوده شدن فیلترهای جالب و قابلیت‌های جدید صوتی و تصویری به اپ...</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>قابلیت جدید فایرفاکس برای حفاظت از کاربران در برابر روش‌های جد...</li>
            </ul>



          </div>


          <div class="col-md-4">



            <h4 class="titl">
              آخرین پست های وبلاگ پویاسازان
            </h4>
            <ul class="footer">
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>ساخت فایل Private Key وCSR در Centos</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>هشدار Deceptive Site Ahead</li>
              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>
              </i>دستور traceroute</li>

            </ul>

            <div class="tagcloud"><a href="/هاست-ویندوز">خرید هاست</a><a href="/">هاست</a><a href="/هاست-لینوکس">هاست لینوکس</a><a href="/دامین-بین-المللی">ثبت دامین</a><a href="/هاست-ویندوز-ایران">هاست ایران</a><a href="/سرور-مجازی-آلمان">سرور مجازی</a><a href="/هاست-ویندوز">هاست ویندوز</a><a href="/لایسنس-محصولات-پاراللز">لایسنس پلسک</a><a href="/دامین-بین-المللی">دامنه</a><a href="/لایسنس-سی-پنل">لایسنس CPanel</a><a href="/ssl-گواهینامه">گواهینامه SSL</a></div>



          </div>







<!--          <div class="col-md-8">-->
<!--            <div class="row">-->
<!--              <div class="col-md-6">-->
<!--                <h4 class="titl"> پویاسازان</h4>-->
<!--                <ul class="footer">-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>تخفیف ویژه عید تا عید 1399</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>تخفیف ویژه دهه کرامت</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>تخفیف ویژه عید سعید فطر 1399</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>ارائه سرویس هاست بصورت ۳ماهه و ۶ماهه</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>سرویس جدید سرور مجازی NVMe با تخفیف ویژه</li>-->
<!--                  <li>همچنان در کنار شما هستیم...</li>-->

<!--                </ul>-->
<!--              </div>-->
<!--              <div class="col-md-6">-->
<!--                <h4 class="titl"> اخبار فناوری اطلاعات</h4>-->
<!--                <ul class="footer">-->

<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>امکان هک پرینتر از طریق نقص امنیتی کشف‌شده در ویندوز</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>توییتر قابلیت ترجمه خودکار را آزمایش می‌کند</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>ممنوعیت وی‌چت کسب و کار اپل را تهدید می‌کند</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>افزوده شدن فیلترهای جالب و قابلیت‌های جدید صوتی و تصویری به اپ...</li>-->
<!--                  <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                  </i>قابلیت جدید فایرفاکس برای حفاظت از کاربران در برابر روش‌های جد...</li>-->
<!--                </ul>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-md-4">-->


<!--            <h4 class="titl">-->
<!--              آخرین پست های وبلاگ پویاسازان-->
<!--            </h4>-->
<!--            <ul class="footer">-->
<!--              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--              </i>ساخت فایل Private Key وCSR در Centos</li>-->
<!--            <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--            </i>هشدار Deceptive Site Ahead</li>-->
<!--              <li><i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--              </i>دستور traceroute</li>-->

<!--            </ul>-->

<!--            <div class="tagcloud"><a href="/هاست-ویندوز">خرید هاست</a><a href="/">هاست</a><a href="/هاست-لینوکس">هاست لینوکس</a><a href="/دامین-بین-المللی">ثبت دامین</a><a href="/هاست-ویندوز-ایران">هاست ایران</a><a href="/سرور-مجازی-آلمان">سرور مجازی</a><a href="/هاست-ویندوز">هاست ویندوز</a><a href="/لایسنس-محصولات-پاراللز">لایسنس پلسک</a><a href="/دامین-بین-المللی">دامنه</a><a href="/لایسنس-سی-پنل">لایسنس CPanel</a><a href="/ssl-گواهینامه">گواهینامه SSL</a></div>-->
<!--          </div>-->



      </div>

<!--        ------------inline bolck---css-------------->

        <div class="row">
          <div class="col-md-6">

            <div class="social">
<!--            <ul >-->


<!--              <li style="display: inline-block">-->


<!--                <i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--                </i>-->
<!--                </li>-->


<!--              <li style="display: inline-block">  <i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--            </i></li>-->


<!--              <li style="display: inline-block">  <i> <fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/>-->
<!--              </i></li>-->



<!--            </ul>-->
            </div>
          </div>

          <div class="col-md-6">

          </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
  .back-color{
    background-color: #4A4B4D;
    padding: 30px 0 0 0;
  }

  .tagcloud a {
    display: block;
    float: right;
    padding: 5px 7px;
    margin: 0 0 3px 3px;
    background: #5D5D65;
    font-size: 9px!important;
  }
  .tagcloud a, .tagcloud a:hover {
    border: 0;
    color: #fff;
    position: relative;
  }
  .social {
    padding: 0;
    float: left;
  }
  .footer li{
text-align: right;
    list-style: none;
    font-size: 13px;
  }
.titl{
  text-align: right;
  font-size: 16px;
}

  i{
    text-align: right;
    justify-content: right;
    /*float: right;*/
    padding-left: 10px;
    font-size: 10px;
  }

  .footer{
    padding: initial;
  }
</style>
