<template>
  <div >



    <div class="dark-gray" >

      <div class="container">
      <div class="navigation-items" style="height: 36px;padding: 10px 0;">


<!--             --------------adding nabars class and deleteing nav-list class-from ul----------->

        <div class="row">

          <div class="col-md-6  nav-first-left" >

            <ul class="  flex-row" style="  width: 100%;
                      display: flex;justify-content: flex-start;text-align:right;flex-wrap:nowrap">


              <li class=" nav-item date">
                <a class="nav-links" href="#" >صفحه نخست<i ><fa :icon="['fas', 'home']"  :style="{ color: 'white' ,textAlign:'right', }"/>  </i></a>
              </li>

              <li class=" nav-item date">
                <a class="nav-links" href="#" >۰۳۱-۳۲۲۱۹۲۱۸<i ><fa :icon="['fas', 'phone-alt']"  :style="{ color: 'white' ,textAlign:'right',}"/></i></a>
              </li>

              <li class=" nav-item date">
                <a class="nav-links" href="#" >۰۲۱-۷۵۰۲۹<i ><fa :icon="['fas', 'phone-alt']"  :style="{ color: 'white' ,textAlign:'right', }"/></i></a>
              </li>







            </ul>
          </div>

                        <div class="col-md-6 nav-first">

                            <ul class="mr-auto flex-row" style="  width: 100%;
                      display: flex;justify-content: flex-end;text-align:left;flex-wrap:nowrap; ">

                              <li class=" nav-item date" style="">
                                <a class="nav-links" href="#" style="">پرتال کاربران<i ><fa :icon="['fas', 'user']"  :style="{ color: 'white' ,textAlign:'right', }"/> </i></a>
                              </li>


                              <li class=" nav-item date" style="">
                                <a class="nav-links" href="#" style="">پشتیبانی<i ><fa :icon="['fas', 'life-ring']"  :style="{ color: 'white' ,textAlign:'right', }"/></i></a>
                              </li>

                              <li class=" nav-item date" style="">
                                <a class="nav-links" href="#" style="">وبلاگ<i ><fa :icon="['fas', 'blog']"  :style="{ color: 'white' ,textAlign:'right',}"/></i></a>
                              </li>

                              <li class=" nav-item date" style="">
                                <a class="nav-links" href="#" style="">گفتگوی آنلاین<i ><fa :icon="['fas', 'comments']"  :style="{ color: 'white' ,textAlign:'right',}"/> </i></a>
                              </li>






                            </ul>

                        </div>





        </div>



</div>
    </div>
    </div>



    <div class="gray" >
      <div class="container">
      <div class="navigation-items" style="height:84px;padding: 20px 0;">


        <div class="row">


          <div class="col-md-8 nav-seccond">

            <ul style="width: 100%;
                      display: flex;justify-content: flex-end">


              <li class="nav-item">
                <a class="nav-link " href="#">

                  <i ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' , fontSize:'15px',textAlign:'right', float:'right'}"/> </i>

                </a>
              </li>


              <div class="dropdowni">

                <li class="nav-item">
                  <a class="nav-link dropbtn" href="#">پویاسازان</a>
                </li>

                <div class="dropdown-content" style="  min-width: 175px;">
                 <nuxt-link to="contact"> <a >درباره پویاسازان</a></nuxt-link>
                  <nuxt-link to="abouts"> <a>تماس با پویاسازان</a></nuxt-link>
                </div>
              </div>


<!--              <li class="nav-item">-->
<!--                <a class="nav-link" href="#">امنیت</a>-->
<!--              </li>-->


              <div class="dropdowni">

                <li class="nav-item">
                  <a class="nav-link dropbtn" href="#">امنیت</a>
                </li>

                <div class="dropdown-content" style="">
                  <nuxt-link to="safety"><a >  گواهینامه SSL</a></nuxt-link>
                  <nuxt-link to="safety"><a >ID Protect</a></nuxt-link>

                </div>
              </div>







              <div class="dropdowni">

                <li class="nav-item">
                  <a class="nav-link dropbtn" href="#">سرور</a>
                </li>

                <div class="dropdown-content" style="">
                  <nuxt-link to="servers"> <a >  سرور مجازی اختصاصی</a></nuxt-link>
                  <nuxt-link to="servers"> <a >سرور مجازی </a></nuxt-link>
<!--                  <a href="#">سرور مجازی وردپرس</a>-->
<!--                  <a href="#">سرور مجازی NVMe آلمان</a>-->
<!--                  <a href="#">سرور مجازی SSD ایران</a>-->
<!--                  <a href="">سرور اختصاصی آمریکا</a>-->
<!--                  <a href="">سرور اختصاصی آلمان</a>-->
<!--                  <a href="">سرور اختصاصی انگلستان</a>-->
                </div>
              </div>



              <div class="dropdowni">

                <li class="nav-item">
                  <a class="nav-link dropbtn" href="#">میزبانی وب</a>
                </li>

                <div class="dropdown-content" style="">
                  <nuxt-link to="host"><a >هاست لینوکس ایران</a></nuxt-link>
                  <nuxt-link to="host"> <a >هاست لینوکس</a></nuxt-link>
                  <nuxt-link to="host"><a >هاست ویندوز ایران</a></nuxt-link>
                  <nuxt-link to="host"><a >هاست ویندوز</a></nuxt-link>

<!--                  <a href="#">هاست لینوکس حرفه ای</a>-->
<!--                  <a href="#">هاست لینوکس سی پنل ایران</a>-->
<!--                  <a href="">هاست نامحدود</a>-->
                </div>
              </div>




              <div class="dropdowni">

                <li class="nav-item">
                  <a class="nav-link dropbtn" href="#">دامنه</a>
                </li>

                <div class="dropdown-content" style="">
                  <nuxt-link to="domain"> <a >   دامنه های بین المللی</a></nuxt-link>
                    <nuxt-link to="domain"><a >دامنه .ir</a></nuxt-link>
                      <nuxt-link to="domain"><a >پسوندهای جدید دامنه</a></nuxt-link>
                        <nuxt-link to="domain"><a >Whois رایگان دامنه</a></nuxt-link>
                </div>
              </div>




              <!--                    --------------------dropdown hover---------------------->








              <!--    ------------dropdown--li------------------>


            </ul>
          </div>




          <div class="col-md-4 logos" style="  width: 100%;
                      display: flex;justify-content: flex-end;">
            <nuxt-link to="/"><img src="../../assets/img/logos/logo.png"/></nuxt-link>

          </div>








                  </div>





      </div>
    </div>


    <div class="gray">

      <div class="navigations " >

      <TheSideNavToggle @toggle="$emit('sidenavToggle')"/>

        <div style="display: flex;flex-direction: row;justify-content: flex-end;padding: 13px;">
        <nuxt-link to="/"><img src="../../assets/img/logos/logo.png" style="width: 180px;"/></nuxt-link>
        </div>

      </div>
    </div>

</div>
  </div>
</template>

<script>
    // var prevScrollpos = window.pageYOffset;
    // window.onscroll = function() {
    //     var currentScrollPos = window.pageYOffset;
    //     if (prevScrollpos > currentScrollPos) {
    //         document.getElementById("scroll").style.top = "0";
    //     } else {
    //         document.getElementById("scroll").style.top = "-50px";
    //     }
    //     prevScrollpos = currentScrollPos;
    // }

    import TheSideNavToggle from "@/components/Navigation/TheSideNavToggle";

    export default {
        name: "TheHeader",
        components: {
            TheSideNavToggle
        }
    };



</script>


<style scoped>
  .header-container {
    /*height: 100px;*/
  }

  .the-header {
    width: 100%;
    /*position: fixed;*/
    height: 120px;
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    background-color: #4A4B4D;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 20px;
  /*overflow-x: hidden;*/

  }

  /*.logo {*/
  /*  margin: 0 10px;*/
  /*  font-size: 1.3rem;*/
  /*}*/

  .logo a {
    text-decoration: none;
    color: white;
  }

  /*.spacer {*/
  /*  flex: 1;*/
  /*}*/

  .navigation-items {
    display: none;
  }

  @media (min-width: 768px) {
    .navigation-items {
      display: block;
      width: 100%;
    }
  }

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    display: flex;
    text-align: right;
    /*position: absolute;*/
  }

  .nav-item {
  }

  .nav-item a {
    text-decoration: none;
    color: white;

    /*margin: 0 20px;padding: 0px 20px ;*/
  }

  .nav-item a:hover,
  .nav-item a:active,
  .nav-item a.nuxt-link-active {
    color: red;
  }

  /*ul{*/
  /*  position: absolute;*/
  /*}*/





  .navigations {
    display: none;
  }


  @media (min-width: 300px) and (max-width:760px) {

    .navigations {
      display: block;
      width: 100%;
      height: 80px;
      /*margin-bottom: 20px;*/
      /*padding: 30px 0 30px 0 ;*/
    }
  }

  .dark-gray{
    background-color: #323335;
  }

  .gray{
    background-color: #4A4B4D;
  }

  /* .logos img {*/

  /*  text-align: right;*/
  /*  !*padding: 0 30px 0 30px;*!*/
  /*  !* left: 30px;*!*/
  /*   display: flex;*/
  /*}*/

  .logos img {

    text-align: left;
    /*padding: 0 30px 0 30px;*/
    /* left: 30px;*/
    display: flex;
  }





  .nav-first ul{
         text-align: left;
         padding: 0;
    margin: 0;
         list-style: none;
         display: flex;
         flex-wrap: nowrap;

  }
  .nav-seccond ul{
    text-align: right;
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

  }
  .nav-first-left ul{
    padding: 0;
    margin: 0;
    text-align: right;
    /*display: inline-flex;*/
    flex-wrap: nowrap;
    flex-direction: row-reverse;

  }
  .nav-first-left li{
    display: inline-block;
    text-align: right;
  }

  i{
    /*position: absolute;*/

    text-align: right;
    justify-content: right;
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    font-size: 10px;
    padding: 0;
     margin: 0;
    flex-wrap: nowrap;

  }

  .date i {
    /*content: "\f044";*/
    /*padding-right: 5px;*/
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    padding: 4px;
  }

.date a{

  display:flex;
  flex-direction:row-reverse;
  flex-wrap: nowrap;
  margin: 0 9px 0 9px;
}

  @media (max-width: 769px) {
    .date a{
      display: flex;
      flex-wrap: nowrap;
      margin: 0 4px 0 4px;
    }


    .date i {
      /*content: "\f044";*/
      /*padding-right: 5px;*/
      font-style: normal;
      /*display: flex;*/
      /*justify-content: flex-start;*/
      padding: 3px;
    }

  }


</style>
