<template>
  <div
    class="drawer-toggle"
    role="button"
    @click="$emit('toggle')">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>

  </div>
</template>

<style scoped>
.drawer-toggle {
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: space-around;
  height: 50%;
  width: 35px;
  padding: 10px 0 10px;
  margin: 13px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .drawer-toggle {
    display: none;
  }
}

.drawer-toggle .bar {
  width: 90%;
  height: 2px;
  background-color: white;
}
</style>
