<template>
<div class="sidenav-container">
  <div
    v-if="show"
    class="sidenav-backdrop"
    @click="$emit('close')"></div>

<!--  <div class="sidenav-backdrop" v-if="$store.state.drawerIsOpen" @click="$store.dispatch('setDrawerStatus',false)">-->

<!--  </div>-->
  <transition name="slide-side">

<!--    <div class="sidenav" v-if="$store.state.drawerIsOpen">-->

    <div
      v-if="show"
      class="sidenav">
      <ul
        class="side nav-list mr-auto sidenav"
        @click="$emit('close')">


          <li class="nav-item">

            <a class="nav-link" href="#">گفتگوی آنلاین</a>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">وبلاگ</a>

          </li>

<!--        -------------------position of a class----------->



          <li class="nav-item">
            <a class="nav-link" href="#">پشتیبانی</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">پرتال کاربران</a>

          </li>

<!--      ---------------seccond nav---------------->
        <br/><br/>

        <li class="nav-item">

          <a class="nav-link" href="#">دامنه</a>

        </li>

        <li class="nav-item">

        <a class="nav-link" href="#">میزبانی وب</a>

      </li>

        <li class="nav-item">

          <a class="nav-link" href="#">سرور</a>

        </li>



<!--        -->


        <li class="nav-item">

          <a class="nav-link" href="#">امنیت</a>

        </li>



                <li class="nav-item">

                  <a class="nav-link" href="#">پویاسازان</a>
                  <ul style="list-style: disc; padding: 0 30px 0 30px;line-height: 23px" >
                  <li >درباره ی ما</li>
                  <li >تماس با ما</li>

                </ul>
                </li>



        <li class="nav-item">
          <a class="nav-link " href="#">

            <i ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'black' , fontSize:'15px',textAlign:'right'}"/> </i>

          </a>
        </li>


<!--        -->
      </ul>
    </div>
  </transition>
</div>
</template>

<script>
export default {
  name: "TheSidenav",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  }
};
</script>


<style >


  .sidenav .nav-item{
    list-style: none;
  }

  .sidenav .nav-item a{
    color: black;
    text-align: right;
    line-height: 12px;
  }

  .sidenav{
    padding: 20px;
    overflow: scroll;
  }
</style>
