<template>
  <div>
    <TheHeader @sidenavToggle="displaySidenav = !displaySidenav"/>

    <TheSidenav :show="displaySidenav" @close="displaySidenav = false"/>

<!--<TheSidenav/>-->
<!--<div v-if="TheSidenav" @click="displaySidenav" >-->
  <nuxt />



    <Footer/>
  </div>
</template>

<script>
    import TheHeader from '@/components/Navigation/TheHeader'
    import TheSidenav from '@/components/Navigation/TheSidenav'
    import Footer from "@/components/Footer";

    export default {
        components: {
            TheHeader,
            TheSidenav,
            Footer
        },
        data() {
            return {
                displaySidenav: false
            }
        }
    }
</script>


<style>
  html {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    margin: 0;
  }
</style>
