<template>
  <div class="containeres">
    <div class="subheader contactus">

      <h1>تماس با پویاسازان</h1>
    </div>

    <div class="container my-5 py-3">

      <div class="row">
        <div class="col-md-12">
          <p class="text-center my-5">با ما در تماس باشید
          </p>

<!--          --line--------->
          <div class="titleborder container mb-4">
            <div class="titleborder_left"></div><div class="titleborder_sign"></div>
            <div class="titleborder_right"></div></div>


        </div>

        <!--         icons------ -->


        <div class="col-md-4">
          <div>
            <i class="icons" ><fa :icon="['fas', 'comments']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>


            <h5>گفتگوی آنلاین</h5>

          </div>
        </div>
        <div class="col-md-4">
          <div>
            <i class="icons" ><fa :icon="['fas', 'mobile']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

            <h5>تلفن</h5>

          </div>
        </div>
        <div class="col-md-4">
          <div>

            <i class="icons" ><fa :icon="['fas', 'envelope']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

            <h5>پست الکترونیک</h5>

          </div>
        </div>


      </div>
    </div>


    <div class="colors">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <h2>آدرس ما

            </h2>
            <div class="section-title-bottom-line"></div>


            <div class="panels radius"><ul class="no-bullet"><li><strong>شرکت پویاسازان فناوری اطلاعات</strong></li>
            </ul><hr><ul class="no-bullet"><li>دفتر اصفهان: میدان نقش جهان، بازار زرگرها</li><li>سنگ تراشها، طبقه همکف، شماره ۲۴</li>
              <li>مراجعات حضوری با هماهنگی قبلی صورت میپذیرد</li></ul><hr><ul class="no-bullet">
              <li>دفتر تهران: خیابان پاسداران، نبش نگارستان پنجم</li><li>ساختمان ۱۴۱، طبقه سوم، واحد ۳</li><li>مراجعات حضوری با هماهنگی قبلی صورت میپذیرد</li></ul><hr><ul class="bullet chooseus"><li class="margins">۰۲۱-۷۵۰۲۹</li><li class="margins">۰۳۱-۳۲۲۱۹۲۱۸</li><li class="margins">۰۳۱-۳۲۲۳۵۷۶۵</li><li class="margins">۰۳۱-۳۲۲۳۵۷۷۹</li></ul><br><hr><ul class="no-bullet py-2" ><li>زمان پاسخگویی تلفنی تمام واحدهای پویاسازان</li><li>تمام روزهای هفته از ۹ الی ۲۳</li>
              <li>&nbsp;</li>
              <li>&nbsp;
              </li>

            </ul></div>


          </div>

          <div class="col-md-4">
            <h2>اطلاعات تماس
            </h2>
            <div class="section-title-bottom-line"></div>

            <div class="panels radius"><ul class="no-bullet"><li><strong>واحد امور نمایندگان</strong></li></ul><ul class="bullet chooseus"><li >۰۲۱-۷۵۰۲۹</li><li>۰۳۱-۳۲۲۱۹۲۱۸</li><li>۰۳۱-۳۲۲۳۵۷۶۵</li><li>۰۳۱-۳۲۲۳۵۷۷۹</li><li>reseller<i class="fa fa-at fa-lg fa-fw"></i> &nbsp; pouyasazan.org</li></ul><ul class="no-bullet"><li><br><br></li><li><strong>واحد امور مالی</strong></li></ul><ul class="bullet chooseus"><li>۰۲۱-۷۵۰۲۹</li><li>۰۳۱-۳۲۲۱۹۲۱۸</li><li>۰۳۱-۳۲۲۳۵۷۶۵</li><li>۰۳۱-۳۲۲۳۵۷۷۹</li><li>billing<i class="fa fa-at fa-lg fa-fw"></i> &nbsp; pouyasazan.org</li></ul></div>

          </div>

          <div class="col-md-4">
            <h2>اطلاعات تماس
            </h2>

            <div class="section-title-bottom-line"></div>


            <div class="panels radius"><ul class="no-bullet"><li><strong>واحد فروش</strong></li></ul><ul class="bullet chooseus"><li>۰۲۱-۷۵۰۲۹</li><li>۰۳۱-۳۲۲۱۹۲۱۸</li><li>۰۳۱-۳۲۲۳۵۷۶۵</li><li>۰۳۱-۳۲۲۳۵۷۷۹</li><li>sales<i class="fa fa-at fa-lg fa-fw"></i> &nbsp; pouyasazan.org</li></ul><ul class="no-bullet"><li><br><br></li><li><strong>واحد پشتیبانی فنی</strong></li></ul><ul class="bullet chooseus"><li>۰۲۱-۷۵۰۲۹</li><li>۰۳۱-۳۲۲۱۹۲۱۸</li><li>۰۳۱-۳۲۲۳۵۷۶۵</li><li>۰۳۱-۳۲۲۳۵۷۷۹</li><li>support<i class="fa fa-at fa-lg fa-fw"></i> &nbsp; pouyasazan.org</li></ul></div>


          </div>



          <div class="col-md-12 my-5">


            <button class="btn btn-gray">فرم تماس با ما</button>
          </div>
        </div>

      </div>
    </div>


  </div>
</template>

<script>
    export default {
        name: "abouts"
    }
</script>

<style scoped>

  .subheader.contactus {
    padding: 50px 0px 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/contactus_bg.jpg) center top fixed;
    border-bottom: 6px solid rgb(230, 230, 230);
  }
  .containeres {
    margin: 0 auto;
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subheader {
    position: relative;
    min-height: 230px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0 30px 0;
  }
  .titleborder {
    margin-top: -20px;
    text-align: center;
  }
  .titleborder_left {
    height: 1px;
    width: 37%;
    margin-right: 13%;
    margin-left: auto;
  }

  .titleborder_sign {
    background: #fe8f8c;
    width: 14%;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: -3px;
    left: 43%;
    right: 43%;
  }
  .titleborder_left, .titleborder_right {
    background: #dfdfdf;
  }
  .titleborder_right {
    height: 1px;
    width: 37%;
    margin-right: auto;
    margin-left: 13%;
  }

  .col-md-4>div .icons {
    color: #fff;
    text-align: center;
    font-size: 40px;
    width: 118px;
    height: 118px;
    background: #FE8F8C;
    border-radius: 50%;
    padding: 33px ;
    display: inline-block;
    margin: 10px 0;

  }
     .colors{
       background-color: #f1f1f1;
     }
  .section-title-bottom-line {
    background: #dfdfdf;
    border-right: 150px solid #fe8f8c;
    height: 1px;
    margin: 22px 0;
  }




  .panels.radius {
    border-radius: 3px;
  }

  .panels{
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    background: #ffffff;
    border-radius: 4px;

    /*padding: 1.25rem;*/
    /*background: #f2f2f2;*/
  }

  .panels .bullet li {
    list-style: none;
    background-color: #F5F5F5;
    margin: 5px 0;
    padding: 10px 0;
  }
  .panels .no-bullet li {
    list-style: none;
  }
.panels ul{
padding: 4px;
}

  .btn-gray{
    background: #3D3F40;
color: white;
    padding: 10px;
  }

</style>
