<template>
  <div class="my-containers">
<div class="subheader contactus">

  <h1>درباره پویاسازان</h1>
</div>

    <div class="container">
<div class="row">
  <div class="col-md-12  my-5 my-text justify-content-start">
    <p class="my-5">شرکت پویاسازان فناوری اطلاعات در سال ۱۳۸۲ با همکاری تنی چند از برنامه نویسان ، طراحان حرفه ای وب و متخصصین شبکه آغاز به کار کرد . اکنون این شرکت پس از ۱۷ سال تجربه حرفه ای در زمینه پیاده سازی سایت های اینترنتی ، مدیریت و گسترش محتوای وب و میزبانی وب سایت های اینترنتی با در اختیار داشتن قوی ترین و مجهزترین سرورهای دنیا و تیم مجرب و قدرتمند به یکی از مدعیان اصلی در زمینه میزبانی وب ( هاستینگ ) ، ثبت دامنه ( دامین ) ، خدمات حضور در اینترنت ، مهندسی اینترنت ، طراحی و برنامه نویسی وب ، خدمات مدیریت و گسترش وب ، و همچنین خدمات تجارت الکترونیک در ایران و حتی خاورمیانه مبدل گردیده است.</p>
    <blockquote class="right marginleft">عضو سازمان نظام صنفی رایانه ای کشور - استان اصفهان<br>عضو انجمن شرکت های اینترنتی ایران<br>عضوانجمن انفورماتیک ایران</blockquote>
    <p style="text-align: right">احترام به حقوق مشتریان ، درک صحیح نیازهای مشتریان ، کیفیت برتر محصولات ارائه شده و پشتیبانی کاملاً حرفه ای و قابل رقابت با سرویس دهندگان ممتاز دنیا ، ضامن موفقیت ما در ارایه این خدمات بوده است.</p>

    <p  style="text-align: right">شرکت پویاسازان فناوری اطلاعات به شماره ثبت ۲۲۶۹۵ ، امیدوار است بتواند با ارائه خدمات حرفه ای در زمینه میزبانی وب ( هاستینگ ) ، ثبت دامنه ( دامین ) ، خدمات حضور در اینترنت ، مهندسی اینترنت ، طراحی و برنامه نویسی وب ، خدمات مدیریت و گسترش وب ، و همچنین خدمات تجارت الکترونیک کمکی شایان در جهت فرهنگ&zwnj;سازی هرچه بیشتر استفاده کاربردی از اینترنت در بین ایرانیان و کلیه فارسی زبانان دنیا نماید.</p>
    <blockquote class="left marginright">پویاسازان ، لمسی متفاوت از خدمات حضور در اینترنت</blockquote>


    <p style="text-align: right">از شما کاربر عزیز هم تقاضا داریم با ارسال نظرات و پیشنهادات سازنده خود ، ما را هرچه بیشتر در راستای بهینه&zwnj;سازی این اقدام همراهی نمائید.

      امیدواریم ، بتوانیم افتخار خدمات رسانی به شما کاربر عزیز را نیز داشته باشیم!</p>

  </div>
</div>

    </div>

</div>
</template>

<script>
    export default {
        name: "contact"
    }
</script>

<style scoped>

  .subheader.contactus {
    padding: 50px 0 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/about.jpg) center top fixed;
    border-bottom: 6px solid rgb(230, 230, 230);
  }
  .my-containers {
    margin: 0 ;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subheader {
    /*position: relative;*/
    min-height: 230px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0 30px 0;
  }


  blockquote.marginleft, blockquote.marginright {
    margin-left: 20px;
    border-right: 3px solid #fe8f8c;
  }

  .right {
    float: right!important;
  }
  blockquote {
    margin: 0 0 3px;
    padding: 22px;
    background: #f5f5f5;
  }
  blockquote, blockquote p {
    line-height: 1.5;
    color: #6f6f6f;
  }
  p {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 17px;
  }

  .left {
    float: left!important;
  }

  @media (max-width: 430px) {


  }


</style>
