<template>
    <div class="domain-container">

      <div class="subheader contactus text-center">
        <h1>موفقیت آنلاین با یک <strong>دامین</strong> عالی شروع میشود</h1>
        <br/>
        <p class=" text-white">انتخاب نام <strong>دامین</strong> یک مسئولیت حساس در موفقیت آنلاین شما است، به پسوندی که انتخاب میکنید بیاندیشید، همانطور که به طول <strong>دامین</strong> و سهولت در نحوه خواندن و به یاد ماندن آن می اندیشید.</p>


        <div class="mores"><span><a href="#">بیشتر بدانید</a></span></div>

      </div>


      <div class="domain-search">

        <div class="container">
          <div class="row">


            <div class="col-md-8 col-12">

              <input class="form-control search-form" type="text" placeholder="Default input">

            </div>



              <div class="col-md-2 col-12">
                              <div class="dropdowni">

                <input class="btn btn-secondary btn-lg dropbtn" type="submit" value="جستجو" name="submit" style="width: 100%">


                                <div class="dropdowni-content">
                                  <a href="#">Link 1</a>
                                  <a href="#">Link 2</a>
                                  <a href="#">Link 3</a>
                                </div>
                              </div>
              </div>

<!--              <div class="dropdowni">-->
<!--                <input class=" btn btn-secondary dropbtn text-dark" value="جستجو" name="submit" style="width: 100%;height: 40px">-->

<!--&lt;!&ndash;                <button class="btn btn-light dropbtn text-dark" >Dropdown</button>&ndash;&gt;-->
<!--                <div class="dropdowni-content">-->
<!--                  <a href="#">Link 1</a>-->
<!--                  <a href="#">Link 2</a>-->
<!--                  <a href="#">Link 3</a>-->
<!--                </div>-->
<!--              </div>-->



            <div class="col-md-2 col-12">

              <input class="btn btn-secondary btn-lg search search-form" type="submit" value="جستجو" name="submit" style="width: 100%">
<!--              <button class="btn btn-secondary">جست و جو</button>-->

            </div>





          </div>
        </div>
      </div>



      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <p class="text-center my-5">سرور مجازی آلمان
            </p>

            <!--          --line--------->
            <div class="titleborder  mb-4">

              <div class="titleborder_left"></div><div class="titleborder_sign"></div>
              <div class="titleborder_right"></div>

            </div>

          </div>



          <div class="col-md-4">
            <div>
              <i class="icons" ><fa :icon="['fas', 'tasks']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>


              <h4>مدیریت دامنه</h4>
              <p>نام دامین، سنگ بنای حضور آنلاین شما است، ما مدیریت آن را برای شما آسان میکنیم. کنترل پنل ساده و قدرتمند ما به شما اجازه میدهد تا دامین های خود را در هر زمان و مکانی که خواستید مدیریت کنید.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div>
              <i class="icons" ><fa :icon="['fas', 'random']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

              <h4>انتقال دامنه</h4>

              <p>نام دامین ثبت شده ای دارید؟ شما میتوانید دامین خود را به پویاسازان انتقال دهید و از امکانات ما بهره مند شوید. چنانچه سوالات بیشتری در رابطه با انتقال دامین دارید با بخش فروش تماس بگیرید.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div>

              <i class="icons" ><fa :icon="['fas', 'heart']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

              <h4>ثبت دامنه</h4>

              <p>
                همه چیز با یک نام دامین عالی شروع می شود.ارائه بیش از ۱۵۰ پسوند ثبت دامین، قابلیت انعطاف پذیری شما را افزایش میدهد. پویاسازان تنها توقف گاه ثبت دامین شما خواهد بود.

              </p>
            </div>
          </div>




        </div>
      </div>



      <div class="bg-color ">
        <div class="container">
          <div class="row justify-content-center text-center">

            <div class="col-md-12">
              <h5 class="text-center my-5">نیاز دارید بیشتر در مورد نام های دامنه بدانید؟

              </h5>
                <!--          --line--------->
              <div class="titleborder  mb-4">

                <div class="titleborder_left"></div><div class="titleborder_sign"></div>
                <div class="titleborder_right"></div>

              </div>



<!--              --tabs-->








              <div class="domain-tabs" style="direction: rtl;display:block">
                <b-tabs content-class=" bg-white py-5 px-5" class="back-domain" >
                  <b-tab title="ویژگی دامنه" active>


                    <div class="container">

                    <div class="row ">
                      <div class="col-md-4 text-right">

                        <p>ثبت دامین به نام خریدار</p>
                        <div class="section-title-bottom-line"></div>

                        <p>پشتیبانی حرفه ای ۲۴ ساعته</p>
                        <div class="section-title-bottom-line"></div>

                        <p>سرویس URL Forwarding رایگان</p>
                        <div class="section-title-bottom-line"></div>

                        <p>ایجاد Name Server اختصاصی رایگان</p>
                        <div class="section-title-bottom-line"></div>


                      </div>

                      <div class="col-md-4 text-right">
                      <p>مالکیت حقوقی ۱۰۰% دامین</p>
                        <div class="section-title-bottom-line"></div>

                        <p>مدیریت DNS رایگان</p>
                        <div class="section-title-bottom-line"></div>

                        <p>سرویس Frame Forwarding رایگان</p>
                        <div class="section-title-bottom-line"></div>


                        <p>قابلیت Lock/Unlock رایگان</p>
                        <div class="section-title-bottom-line"></div>

                      </div>

                      <div class="col-md-4 text-right">

                        <p>کنترل پنل اختصاصی دامین</p>
                        <div class="section-title-bottom-line"></div>


                        <p>دامین Parking Page رایگان</p>
                        <div class="section-title-bottom-line"></div>

                        <p>سرویس Email Forwarding رایگان</p>
                        <div class="section-title-bottom-line"></div>

                      </div>
                    </div>
                    </div>

                  </b-tab>
                  <b-tab title="تعرفه ثبت دامنه" >


                    <table class="table">
                      <tbody>
                    <tr class="tamdid" >
                      <td> <div class="panel"><h3 class="text-center" dir="ltr">.com</h3>
                        <p class="text-center">۲۵۰,۰۰۰ تومان</p></div></td>
                      <td><div class="panel">
                        <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                      </td>
                      <td> <div class="panel"><h3 class="text-center" dir="ltr">.com</h3>
                        <p class="text-center">۲۵۰,۰۰۰ تومان</p></div></td>
                      <td><div class="panel">
                        <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                      </td>
                      <td><div class="panel">
                        <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                      </td>
                    </tr>
                      </tbody>
                    </table>






                    <table class="table">
                      <tbody>
                      <tr class="block-table">
                        <td>

                          <span class="label">.info</span> ۳۵۰,۰۰۰ تومان

                        </td>
                        <td>

                          <span class="label">.biz</span> ۴۹۶,۰۰۰ تومان
                        </td>
                        <td>

                          <span class="label">.us</span>
                          ۲۷۰,۰۰۰ تومان </td><td>
                        <span class="label">.tv</span> ۱,۱۰۸,۰۰۰ تومان</td>
                        <td>       <span class="label">.name</span> ۲۵۰,۰۰۰ تومان</td>

                                                </tr>


                      <tr class="block-table">
                        <td>

                          <span class="label">.info</span> ۳۵۰,۰۰۰ تومان

                        </td>
                        <td>

                          <span class="label">.biz</span> ۴۹۶,۰۰۰ تومان
                        </td>
                        <td>

                          <span class="label">.us</span>
                          ۲۷۰,۰۰۰ تومان </td><td>
                        <span class="label">.tv</span> ۱,۱۰۸,۰۰۰ تومان</td>
                        <td>       <span class="label">.name</span> ۲۵۰,۰۰۰ تومان</td>

                      </tr>
                      <tr class="block-table">
                        <td>

                          <span class="label">.info</span> ۳۵۰,۰۰۰ تومان

                        </td>
                        <td>

                          <span class="label">.biz</span> ۴۹۶,۰۰۰ تومان
                        </td>
                        <td>

                          <span class="label">.us</span>
                          ۲۷۰,۰۰۰ تومان </td><td>
                        <span class="label">.tv</span> ۱,۱۰۸,۰۰۰ تومان</td>
                        <td>       <span class="label">.name</span> ۲۵۰,۰۰۰ تومان</td>

                      </tr>

                      <tr class="block-table">
                        <td>

                          <span class="label">.info</span> ۳۵۰,۰۰۰ تومان

                        </td>
                        <td>

                          <span class="label">.biz</span> ۴۹۶,۰۰۰ تومان
                        </td>
                        <td>

                          <span class="label">.us</span>
                          ۲۷۰,۰۰۰ تومان </td><td>
                        <span class="label">.tv</span> ۱,۱۰۸,۰۰۰ تومان</td>
                        <td>       <span class="label">.name</span> ۲۵۰,۰۰۰ تومان</td>

                      </tr>


<!--                                                <tr class="block-table" >-->
<!--                                                  <td>@fat</td>-->
<!--                                                  <td>Otto</td>-->

<!--                                                  <td>@fat</td>-->
<!--                                                  <td>Otto</td>-->
<!--                                                  <td>@mdo</td>-->
<!--                                                </tr>-->

                                                </tbody>
                                              </table>



                    <div class="col-md-12" style="text-align: right">
                      <p><br><br>* دامین ( دامنه ) .ae دارای کنترل پنل نمی باشد.<br>
                        * دامین ( دامنه ) های .fr- se - .ru - .ch - .at - .it. دارای کنترل پنل نمی باشند.همچنین برای ثبت این دامین ( دامنه ) ها نیاز به آدرس در اروپا می باشد در غیر اینصورت ثبت دامین ( دامنه ) با نام پویاسازان انجام می شود.</p>
                    </div>

                  </b-tab>
                  <b-tab title="تعرفه تمدید دامنه">



                    <table class="table">
                      <tbody>

                      <tr class="tamdid" >
                        <td> <div class="panel"><h3 class="text-center" dir="ltr">.com</h3>
                          <p class="text-center">۲۵۰,۰۰۰ تومان</p></div></td>
                        <td><div class="panel">
                          <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                        </td>
                        <td> <div class="panel"><h3 class="text-center" dir="ltr">.com</h3>
                          <p class="text-center">۲۵۰,۰۰۰ تومان</p></div></td>
                        <td><div class="panel">
                          <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                        </td>
                        <td><div class="panel">
                          <h3 class="text-center" dir="ltr">.ir</h3><p class="text-center">۵,۵۰۰ تومان</p></div>
                        </td>
                      </tr>

                      </tbody>
                    </table>



                  </b-tab>
                  <b-tab title="تعرفه انتقال دامنه"><p>I'm the second tab</p></b-tab>
                  <b-tab title="راهنمای دامنه">


                    <ul class="featuer"><li><div class="featuretitle" >انتخاب یک نام عالی برای <strong>ثبت دامین</strong></div>
                      <p >اولین گام برای حضور در اینترنت ثبت یک نام ( دامین – دامنه ) در اینترنت است. این امکان برای مدت یک سال تا ده سال وجود دارد. این نام منحصر به فرد ( دامین – دامنه ) ، که به عنوان هویت مجازی ( اینترنتی ) شخص یا شرکت تلقی میگردد در بانک اطلاعاتی سازمان جهانی اینترنیک ثبت می گردد و حق مالکیت، تمدید، تغییر مشخصات و انتقال آن متعلق به دارنده آن خواهد بود. نام سایت اینترنتی ( دامین – دامنه ) نه تنها آدرس تجارت شما در دنیای الکترونیکی است بلکه هویت مجازی شما در دنیای اینترنت و نامی است که مشتریان تان تجارت تان را بدان نام می شناسند. همچنین بخشی از پست الکترونیکی (Email) شما نیز خواهد بود. لذا انتخاب نام سایت اینترنتی ( دامین – دامنه ) فراتر از انتخاب نامی ساده برای تجارت است. در انتخاب نام اینترنتی نکات زیر را به یاد داشته باشید:</p><p>• نامی ( دامین – دامنه ) را انتخاب کنید که براحتی در ذهن بماند. نامی ( دامین – دامنه ) مانند amazon.com راحت تر از bookonline.com در ذهن میماند.</p><p>• نام انتخابی ( دامین – دامنه ) شما می بایست نوع تجارت شما را شرح دهد.</p><p>• سعی کنید نام انتخابی شما ( دامین – دامنه ) بدون پیچیدگی و براحتی توصیفی از نوع تجارتتان باشد. اگر سایت اینترنتی تان در رابطه با تجارت موجود شما است سعی کنید نام اینترنتی ( دامین – دامنه ) انتخابی ، متناسب با نام تجارتتان باشد.</p><p>• سعی کنید نام انتخابی ( دامین – دامنه ) کوتاه و ساده باشد. بهترین نام اینترنتی ( دامین – دامنه ) نامی است که مشتریان آن فقط با یک بار دیدن و یا شنیدن به خاطر بسپارند و بتوانند به درستی آن را در مرورگر (browser) خود بنویسند.</p><p>• در بسیاری موارد ثبت نام های ( دامین – دامنه ) مشابه نام انتخابی می تواند این اطمینان را ایجاد کند که مشتریانی را که بخشی از نام سایت ( دامین – دامنه ) را از یاد برده اند ، از دست نمی دهید.</p></li><li><div class="featuretitle" itemprop="name">چطور میتوانم در پویاسازان دامین ثبت کنم؟</div><p itemprop="description">برای ثبت دامین در پویاسازان، با استفاده از گزینه سفارش در منو ها و انتخاب ثبت دامین میتوانید اقدام به ثبت دامین دلخواه خود نمایید.</p></li>
                      <li><div class="featuretitle">چرا باید دامین های خود را به پویاسازان منتقل کنیم؟</div><p>با انتقال دامین های خود به پویاسازان میتوانید از قابلیت های خاص ارائه شده توسط پویاسازان بر روی دامین های خود استفاده نمایید.</p></li><li>
                        <div class="featuretitle">چگونه میتوانم دامین های فعلی خود را به پویاسازان منتقل کنم؟</div><p>شما به راحتی و از منو سفارش آنلاین و انتخاب گزینه انتقال دامین میتوانید دامین های خود را به پویاسازان منتقل نموده و از مزایای دامین های پویاسازان بهره مند شوید.</p></li><li>
                        <div class="featuretitle">آیا محدودیت خاصی برای زمان انتقال دامین ها وجود دارد؟</div><p>جهت انتقال دامین بایدحداقل ۶۰ روز از زمان ثبت و یا تمدید دامین شما گذشته باشد و همچنین حداقل ۵ روز به زمان انقضاء دامین باقی مانده باشد.</p></li></ul>



                  </b-tab>
                  <b-tab title="سوالات متداول">


                    <ul class="featuer"><li><div class="featuretitle seccond" ><p>1.در انتخاب Domain از چه کاراکترهایی می توانم استفاده کنم ؟<br>در نام دامنه فقط می توانید از حروف a-z ، اعداد 0-1 ، خط تیره (-) استفاده نمایید .
                      <br>کارکترهای خاص مانند ! ، @ ، # ،$ ؛ % ، ^، &amp;،*، ) ، ( و فاصله برای ثبت نام دامنه مجاز نمی باشند .<br>استفاده از خط تیره در ابتدا و انتها نام دامنه مجاز نیست .<br><br>
                      2. آیا امکان ثبت دامنه فارسی در پویاسازان وجود دارد؟<br>بله ، امکان ثبت دامنه فارسی در پویاسازان وجود دارد .<br>دقت داشته باشید در حال حاضر دامین های فارسی با پسوند های .com و .net ارائه میشوند.<br><br>3. دامین فارسی چیست ؟<br>دامین فارسی، دامینی است که در آن می توانید از حروف فارسی استفاده نمایید <br>مانند : پویاسازان. Com<br><br>
                      4. مدت زمان مالکیت دامنه خارجی چقدر است ؟<br>حداقل زمان ثبت 1 سال است. حداکثر زمان ثبت برای هر پسوند متفاوت میباشد به عنوان مثال برای پسوند .com 10 سال ، برای پسوند .co 5 سال و برای پسوند .it 1 سال می باشد. جهت کسب اطلاعات بیشتر لطفا با بخش فروش در ارتباط باشید.<br>
                      <br>5. کنترل پنل دامنه های خارجی ثبت شده در پویاسازان چیست ؟<br>کنترل پنل اختصاصی دامنه های پویاسازان todaypanel.comاست که به شما امکان تعریف نیم سرور ، ایجاد و ویرایش نام کارگزار اختصاصی ، تعریف رکوردهای میزبان و تعریف email forwarding را خواهد داد .<br><br>6. آیا امکان مخفی کردن اطلاعات whois در دامنه های خارجی وجود دارد ؟<br>
                      امکان مخفی سازی اطلاعات هویز برای هر پسوند متفاوت است در بیشتر پسوند ها امکان مخفی سازی وجود دارد اما برخی از پسوندهای کشوری این مورد را پشتیبانی نمیکنند. این مورد برای پسوندهای رایج مانند .com ، .net و .org وجود دارد. با خرید و فعال کردن ID Protect می توانید اطلاعات هویز را مخفی نمایید.<br><br>
                      7. دامنه های بین المللی پس از انقضا تا چه مدت امکان تمدید دارید ؟<br>تمدید دامنه پس از انقضا 0 تا 30 روز با مبلغ معمول برای تمدید ( بدون دریافت هزینه اضافی ) امکان پذیر است پس از این مدت دامنه 0 تا 45 روز به حالت جریمه ( redemption period ) میرود که برای تمدید علاوه بر مبلغ تمدید مبلغی به عنوان جریمه باید پرداخت شود که معمولا هزینه این جریمه چندین برابر هزینه ثبت و تمدید دامنه است ، دوره حذف (pending delet ) حدودا 5 روز است در این دوره هیچ شخصی ، حتی مالک دامنه امکان تمدید دامنه را نخواهد داشت، پس از اتمام این دوره دامنه آزاد و قابل ثبت توسط همگان خواهد شد .<br><br>8. دامنه ویژه چیست ؟<br>شامل نام دامنه هایی می شوند که قبلا ثبت شده است و صاحب یک دامنه ویژه معتقد است که دامنه ارزش و هزینه بالاتری از نظر قیمت و تمایز به خاطر داشتن پسوند خاص که در ادامه دامنه وجود دارد ، دارا است.این نوع دامنه از ارزش بالایی برخوردار است و امکان ثبت آنها با مبلغ عادی یک دامنه ممکن نیست.<br><br>9. آیا دامنه ای که در پویاسازان ثبت می شود را می توان در شرکت دیگری تمدید کرد ؟<br>طبق قوانین ثبت و تمدید دامنه خارجی ، دامنه فقط توسط شرکت ثبت کننده قابل تمدید است ، مگر اینکه قبل از منقضی شدن دامنه به شرکت دیگری انتقال داده شود .<br><br>10. نحوه تنظیم نیم سرور ( DNS ) در todaypanel.com به چه صورت است ؟<br>ابتدا در کنترل پنل مدیریت دامنه ( todaypanel.com ) لاگین می کنید سپس از بخش نام کارگزار ، نام کارگزار انتخابی را انتخاب کرده و از این بخش اقدام به تنظیم یا تغییر dns می کنید .<br><br>11. آیا امکان خرید و تنظیم یک دامنه بر روی وبلاگ وجود دارد ؟<br>بله ، شما می توانید راهنمای کامل این مورد را در لینک زیر مشاهد نمایید .<br>http://www.pouyasazan.org/domaintoweblog.pdf <br>12. پویاسازان دامنه های خارجی را با چه شرکتی ( registrar ) ثبت میکند ؟<br>پویاسازان با شرکت enom ثبت دامنه را انجام می دهد .<br><br>13. قوانین تمدید دامین های کشوری چیست؟<br>زمان تمدید تعدادی از پسوند دامین های کشوری 10 روز زودتر از تاریخ ذکر شده در مدیریت سرویس ها میباشد. هم چنین ایمیل اخطار 15 روز قبل از تاریخ اکسپایر برای شما ارسال میشود و تاریخ مطابق با تاریخ مدیریت سرویس ها اعلام میشود ولی شما باید به این مورد دقت کنید و برای تمدید 10 روز زودتر اقدام کنید.(در برخی موارد اگر 10 روز زودتر از انقضا اقدام به تمدید نشود دیگر شما امکان تمدید نخواهید داشت و دامین برای ثبت مجدد آزاد خواهد شد )<br>ایمیل اخطار برای تمدید ، یک ایمیل سراسری میباشد و تاریخ و مهلت ذکر شده برای تمدید دامین های بین المللی است ولی شامل دامین های کشوری نمیباشد.<br>تعدادی از این پسوند ها به شرح زیر است :<br>es , .ac , .it , .de , .se , .ru , .ch , .at , .ae , .fr , .be<br><br>14. آیا در مدت زمان انتقال دامنه به پویاسازان وب سایت غیر فعال خواهد شد ؟<br>خیر ، در مدت زمان انتقال دامنه، سایت شما فعال خواهد بود .<br><br>15. برای تمدید دامنه در پویاسازان از چه طریقی باید اقدام کنیم ؟<br>برای تمدید شما باید با اطلاعات عضویت در بخش پرتال کاربری وارد شوید ، سپس در بخش مدیریت سرویس ها ، دامنه را انتخاب نمایید ، نام دامنه ای که قبلا توسط شما ثبت شده در این بخش قرار دارد رو بروی آن یک علامت چرخ دنده است بر روی آن کلیک نمایید و از قسمت تمدید سرویس ، دامنه را تمدید نمایید .<br>دقت داشته باشید در صورتی که دامنه منقضی شده و قابل تمدید باشد ، باید در قسمت دامنه بخش منقضی شده را چک نمایید .<br><br>16. آیا امکان خرید دامنه از شرکت پویاسازان و هاستینگ از شرکت دیگری و یا بالعکس وجود دارد ؟<br>بله ، شما می توانید هاست و دامنه را در دو شرکت متفاوت خرید نمایید ، برای ارتباط هاست و دامنه کافی است dns مرنبط با هاست را بر روی دامنه خود ست نمایید .<br><br>17. چه مدت زمان بعد از ثبت سفارش دامنه در پویاسازان به نام ما ثبت خواهد شد ؟<br>پس از ثبت سفارش از 1 دقیقه تا 15 دقیقه دامنه ثبت خواهد شد .<br><br>18. از چه راهی می توان بررسی کرد یک دامنه ثبت شده است یا خیر ؟<br>شما از طریق سایت هایی که اطلاعات هویز) مشخصات دامنه ثبت شده ) را در اختیار شما قرار می دهند می توانید این مورد را بررسی نمایید .<br>مثال : whois.cd<br><br>19. آیا با خرید دامنه به تنهایی می توان آدرس ایمیل برای دامنه خریداری شده داشته باشیم ؟<br>شما با قابلیت Email forwarding می توانید آدرس ایمیل تحت نام دامین خود تعریف نمایید. توجه داشته باشید که این ایمیل جنبه مجازی دارد که قابل فوروارد کردن بر روی آدرس ایمیلهای قابل دسترسی و چک کردن است. این مورد تنها برای دامین های بین المللی میباشد.<br><br>20 . برای انتقال دامنه به پویاسازان چه شرایطی لازم است ؟<br>حداقل 60 روز از تاریخ خرید یا انقضا دامنه گذشته باشد .<br>حداقل 10 روز به تاریخ انقضا مانده باشد .<br>ایمیل ادمین ثبت شده در هویز قابل چک کردن باشد .<br>قفل دامنه برای انتقال باز باشد .<br>در اطلاعات هویز دامنه اطلاعات ایران وجود نداشته باشد .<br>کد انتقال را در اختیار داشته باشید .<br>بر روی دامنه id protect فعال نباشد .<br><br>21. شرایط ثبت دامنه های کشوری چه چیزی است ؟<br>پسوندهای کشوری تابع قوانین کشور مورد نظر هستند و هر لحظه ممکن است قوانین کشور مورد نظر برای ثبت دامنه تغییر کند.به طور معمول این پسوندها دارای کنترل پنل نمیباشند. و بهتر است با آدرس همان کشور ثبت شوند.در صورتی که از سمت رجیسترر برای این دامنه ها ایمیل ارسال شود و توجهی نشود ممکن است دامین به حالت ساسپند برود.<br>برای ثبت این نوع دامنه به آدرس حقیقی در آن کشور ، کد مالیاتی، نام شرکت ، شماره ثبت شرکت ، شماره تلفن مربوط به آن آدرس نیاز است. دقت داشته باشید دامین&zwnj;هایی&zwnj; که با این نوع پسوند ثبت می شوند دارای کنترل پنل نمی&zwnj;باشند و برای ست کردن ip بر روی آن ها باید درخواست به پویاسازان ارسال شود ( بر روی این پسوندها امکان ست کردن dns وجود ندارد ) .<br>تعدادی از این پسوند ها به شرح زیر است :<br>es , .ac , .it , .de , .se , .ru , .ch , .at , .ae , .fr , .be<br><br>22. در صورت در دسترس نبودن اطلاعات اروپا آیا امکان ثبت دامنه های اروپا وجود دارد ؟<br>در صورت تمایل این دامنه به نام و آدرس پویاسازان برای کاربر ثبت خواهد شد ( مالکیت اصلی در پویاسازان متعلق به کاربر است. )<br><br>23. ثبت دامنه فارسی برای چه پسوند های امکان پذیر است ؟<br>ثبت دامین های فارسی برای پسوند های com، net،xyz و energy امکان پذیر است .<br><br>24. چرا بعضی از دامنه ها پس از ثبت یا تغییر ایمیل هویز بعد از مدتی غیر فعال (suspend) می شوند ؟<br>از ابتدای ژانویه 2014 برابر با 13 بهمن ماه 1392 ، آیکان (شرکت اینترنتی برای نامها و شماره&zwnj;های واگذار شده) به تمام ثبت کننده های معتبر خود دستور داده است ، اطلاعات تماس موجود در اطلاعات مالکیت دامنه (whois) را برای تمام دامنه هایی که جدید ثبت می شوند و دامنه هایی که اطلاعات تماس موجود در اطلاعات مالکیت دامنه (whois) خود را تغییر می دهند بررسی و تایید کنند.<br>بر این اساس یک ایمیل حاوی لینک تایید آدرس ایمیل برای صاحبان دامنه ارسال می شود که لازم است تا قبل از تاریخ مشخص شده در ایمیل&nbsp;بر روی لینک تایید آدرس ایمیل کلیک کنند در غیر اینصورت دامنه تا زمانی که آدرس ایمیل تایید شود به حالت تعلیق رفته و غیر فعال خواهد شد.<br>لازم به ذکر است در این ایمیل فقط یک لینک برای تایید آدرس ایمیل وجود دارد و هیچگونه اطلاعاتی از شما درخواست نمی شود.<br>تذکر: حتی در صورت فعال بودن&nbsp;ID protect&nbsp;، نیاز است این ایمیل حتما تایید شود.<br>پس از تایید این ایمیل، مجددا باید&nbsp;DNS&nbsp;های دامین را تنظیم نمایید و 24 ساعت برای ست شدن&nbsp;DNS&nbsp;ها بر روی دامین، منتظر بمانید.&nbsp;<br><br>25. نمونه از ایمیل ارسالی آیکن به صورت زیر است :<br>IMMEDIATE VERIFICATION required for pouyasazan.org<br>As of January 1, 2014, the Internet Corporation for Assigned Names and Numbers (ICANN) has mandated that all ICANN accredited registrars begin verifying the WHOIS contact information for all new domain registrations and Registrant contact modifications.<br>You have registered one or more domains from Pouyasazan IT Solutions &amp; Services and verification of the Registrant email address is required for these domain name(s) to remain active. Please click the link below to verify the email address. You have until 01/23/2014 to verify this email address. After this date, the domain name(s) will be suspended until the email address is verified.<br>Click here to verify your email address<br>If the above link does not work, please cut-and-paste the following URL into an open web browser to complete the verification process:<br>http://raa.name-services.com/raaverification/verification.aspx?VerificationCode=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX<br>Once you click the link, your email address will be instantly verified and there is nothing further for you to do on the following domains:<br>pouyasazan.org<br><br>26. دلیل متفاوت بودن قیمت ثبت برخی از دامنه های ویژه با قیمت اعلامی در سایت چه چیزی است ؟<br>با توجه به نام دامنه در برخی مواقع امکان دارد برای ثبت این نوع دامنه شرکت ثبت کننده درخواست مبلغ بیشتری نماید که در این صورت امکان ثبت با مبلغ معمول وجود ندارد . <br><br></p></div></li></ul>




                  </b-tab>
                </b-tabs>
              </div>




            </div>

          </div>
        </div>
      </div>

    </div>
</template>

<script>






    export default {
        name: "domain"
    }
</script>

<style scoped>


  .subheader.contactus {
    padding: 50px 0 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/domain.jpg) center top fixed;
    /*border-bottom: 6px solid rgb(230, 230, 230);*/
  }


  .domain-container {
    margin: 0 auto;
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subheader {
    position: relative;
    min-height: 200px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .domain-search {
    background: #b6514e;
  }

  .domain-search {
    padding: 30px 0;
    border-bottom: 5px solid #e6e6e6;
    direction: ltr;
  }




/*  --------------dropdown btn-----------*/

  .dropdowni-content {
    display: none;
    position: absolute;
    right: 0px;
    text-align: center;
    background-color: #f1f1f1;
    min-width: 152px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdowni-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdowni-content a:hover {background-color: #ddd;}

  .dropdowni:hover .dropdowni-content {display: block;}

  .search{
    cursor: pointer;
    box-sizing: border-box;
    background: rgb(46, 47, 49);
    padding: 7px 35px 2px 25px;
    border-width: 0;
  }


  @media (max-width: 768px) {


    .search{
      cursor: pointer;
      box-sizing: border-box;
      background: rgb(46, 47, 49);
      padding: 7px 20px 2px  20px;
      border-width: 0;
    }

    @media (max-width: 425px) {

      .search{
      margin: 5px 0;
      }
    }
  }



  .titleborder {
    margin-top: -20px;
    text-align: center;
  }
  .titleborder_left {
    height: 1px;
    width: 37%;
    margin-right: 13%;
    margin-left: auto;
  }

  .titleborder_sign {
    background: #fe8f8c;
    width: 14%;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: -3px;
    left: 43%;
    right: 43%;
  }
  .titleborder_left, .titleborder_right {
    background: #dfdfdf;
  }
  .titleborder_right {
    height: 1px;
    width: 37%;
    margin-right: auto;
    margin-left: 13%;
  }

  .col-md-4>div .icons {
    color: #fff;
    text-align: center;
    font-size: 40px;
    width: 118px;
    height: 118px;
    background: #78b3d4;
    border-radius: 50%;
    padding: 33px ;
    display: inline-block;
    margin: 10px 0;

  }



  .section-title-bottom-line {
    background: #dfdfdf;
    border-right: 150px solid #fe8f8c;
    height: 1px;
    margin: 22px 0;
  }

  .nav {
    display: flex;
    /*flex-wrap: nowrap;*/
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .domain-tabs{

    display: block;
     padding: 0 0;
  }
  .back-domain{
    display: block;
    padding: 0 0;
  }

  .blocks li{

    display: block;
    float: right;
    width: 20%;
    padding: 0 .625rem 1.25rem;
  }



  .panel {
    background: #f7f7f7;
    border-radius: 4px;

    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding:15px;
    text-align: center;
    height:auto ;

  }
  @media (max-width: 480px) {

    /*.domain-search {*/
    /*  padding: 30px 0;*/
    /*  border-bottom: 5px solid #e6e6e6;*/
    /* display: flex;*/
    /*  flex-direction: column-reverse;*/
    /*}*/



    .blocks li {

      display: block;
      list-style: none;
      padding: 5px;
      min-width: 80px;

    }

    .panel {
      background: #f7f7f7;
      border-radius: 4px;

      border-style: solid;
      border-width: 1px;
      border-color: #d8d8d8;
      margin-bottom: 1.25rem;
      padding:15px;
      text-align: center;
    }



  }

  .second-block li{
    display: inline-block;
    list-style: none;
    float: right;
    /*width: 20%;*/
    /*padding: 0 .625rem 1.25rem;*/
  }


 span.label {
    background: #B6514E;
    border-radius: 4px;
    padding: 4px 4px;
    color: #fff;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
    direction: ltr;
  }
  ul.second-block li{
    background: #ebebeb;
    padding: 2px;
    margin: 0.5px;

  }


  .label {
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    /*margin-bottom: inherit;*/

  }
.block-table {
  background: #F5F5F5; border: 3px solid white;
}

  .featuretitle {
    font-size: 19px;
    color: #34495e;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .featuer li  {
    list-style: none;
  }


  .featuer{
    direction: rtl;
    text-align: right;
    padding: 0 ;
    margin: 0;
  }

  .featuretitle.seccond{
    font-size: 14px;
    font-weight: normal;
  }


  @media (min-width: 768px) {

    .domain-search .row {
      display: flex;
      flex-direction: row-reverse;
    }
  }


  .subheader p {
    padding: 0 80px;
    color: #fff;
    font-size: 19px;
    margin-bottom: 60px;
  }



  @media (max-width: 430px) {
    .subheader p {
      padding: 0 5px;
      font-size: 14px;
    }
  }


  .subheader .mores{
    margin: 0 auto;
    display: table;
    text-align: center;
  }

  .mores span {
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 15px;
  }
  .mores span a{
    color: white;
  }

  .search-form{
    height: 45px;
  }

</style>
