<template>
  <div class="host-container">

    <div class="subheader contactus">
      <h1>هاست ویندوز با عملکرد بالای برای وب سایت های موفق</h1>

      <p class="text-center text-white">از کوچکترین برنامه ها تا راهکارهای سازمانی، ما همه نیازهای شما از هاست ویندوز را پوشش میدهیم.</p>

      <div class="mores"><span><a href="#">بیشتر بدانید</a></span></div>


    </div>



    <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p class="text-center my-5">میزبانی وب ، هاست ویندوز
        </p>

        <!--          --line--------->
        <div class="titleborder  mb-4">

          <div class="titleborder_left"></div><div class="titleborder_sign"></div>
          <div class="titleborder_right"></div>

        </div>

        <p style="direction: rtl;" class="description">سرویس های میزبانی وب ، هاست ویندوز پویاسازان بر روی قویترین سرورهای ویندوز در یکی از مجهز ترین دیتا سنترهای آلمان واقع شده اند. پویاسازان از آخرین نسخه پنل مدیریت میزبانی وب ، هاست ویندوز ، Plesk به عنوان کنترل پنل میزبانی وب ، هاست ویندوز استفاده میکند. ارائه کنترل پنل کامل میزبانی وب ، هاست Plesk ، با امکانات فوق العاده ، کاربری آسان و رابط گرافیکی زیبا ، بهره وری و کارایی سرویس وب سایت شما را بالا برده تا با کمترین کوشش ، بهترین نتیجه را از امکانات میزبانی وب ، هاست ویندوز دریافت نمایید. سیستم عامل این هاست ، ویندوز سرور 2016 می باشد و با پشتیبانی از همه کامپوننت های لازم زبان های برنامه نویسی asp,asp.net,… تمامی نیازهای یک برنامه نویس را مرتفع می نماید.
          از دلایل برتری هاست ویندوز پویاسازان می توان به سرعت بالا، آپ تایم بالا، امنیت بالا و پشتیبانی از تمامی زبان های برنامه نویسی اشاره کرد.
        </p>


      </div>
    </div>
    </div>



    <div class="bg-color ">
      <div class="container">
        <div class="row justify-content-center text-center">

          <div class="col-md-12">

<!--         -------------card------------------>


            <div class="card-group" >

              <div class="card white-section host-card">
                <ul class="list-group list-group-flush " >
                  <li class="list-group-item middle-black" style="background: #C07474;display: flex;
            flex-wrap: nowrap;flex-direction: row-reverse">مشخصات سرویس
                  </li>

                  <li class="list-group-item  card-texty" style="">


                    <p style="">نحوه پرداخت</p>


                  <button class="  btn btn-light btn-sm">سالیانه</button>
                  <button class=" btn btn-primary btn-sm">سه ماهه</button>



                  </li>

                </ul>



                <div>
                  <ul class="list-group list-group-flush ">
                    <li class="list-group-item middle">میزان فضا </li>
                    <li class="list-group-item middle">ترافیک ماهانه </li>
                    <li class="list-group-item middle">وب سرور </li>
                    <li class="list-group-item middle">کنترل پنل </li>
                    <li class="list-group-item middle">دیتابیس MySql </li>
                    <li class="list-group-item middle">افزودن دامنه </li>
                    <li class="list-group-item middle">پارک دامین </li>
                    <li class="list-group-item middle">زیر دامنه </li>
                    <li class="list-group-item middle">آدرس ایمیل </li>
                    <li class="list-group-item middle">

<!--                     i with style --------------icon in card userd------------->

                      <a  href="#" style="display:flex;flex-direction:row-reverse;color: black">اکانت FTP <i
                      style="padding:  0 5px"
                      >
                        <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right'}"/>
                      </i></a>

                    </li>
                    <li class="list-group-item middle">SSL رایگان </li>
                    <li class="list-group-item middle">SNI </li>
                    <li class="list-group-item middle " style="min-height: 72px">امکانات بیشتر</li>

                  </ul>
                </div>



                <!--                ---icons--footer----->


              </div>


              <div class="card host-card">
                <ul class="list-group list-group-flush " >
                  <li class="list-group-item middle-black">W50
                  </li>

                  <li class="list-group-item  card-texti" >


                    <p style="direction: rtl">۱۴۳,۰۰۰تومان</p>


                    <p>سه ماهه</p>
                  </li>

                </ul>



                <div>
                  <ul class="list-group list-group-flush " >
                    <li class="list-group-item middle" style="direction: rtl">۱ گیگابایت</li>
                    <li class="list-group-item middle">۶۰ گیگابایت</li>
                    <li class="list-group-item middle">LiteSpeed</li>
                    <li class="list-group-item middle">CPanel</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">
                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>


                    <li class="list-group-item middle-black" >

                      <p><span class="span-icon"><a class="card-link" href="#">

                             خرید هاست</a>
                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>
                            </span></p>
                    </li>
                  </ul>
                </div>



                <!--                ---icons--footer----->


              </div>

              <div class="card host-card">
                <ul class="list-group list-group-flush " >
                  <li class="list-group-item middle-black" >W100
                  </li>

                  <li class="list-group-item  card-texti" >



                    <p style="direction: rtl">۱۴۳,۰۰۰تومان</p>


                    <p>سه ماهه</p>
                  </li>

                </ul>


                <div>
                  <ul class="list-group list-group-flush " >
                    <li class="list-group-item middle" style="direction: rtl">۱ گیگابایت</li>
                    <li class="list-group-item middle">۶۰ گیگابایت</li>
                    <li class="list-group-item middle">LiteSpeed</li>
                    <li class="list-group-item middle">CPanel</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">
                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>


                    <li class="list-group-item middle-black" >

                      <p><span class="span-icon"><a class="card-link" href="#">

                             خرید هاست</a>
                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>
                            </span></p>
                    </li>
                  </ul>
                </div>



                <!--                ---icons--footer----->


              </div>
              <div class="card host-card">
                <ul class="list-group list-group-flush " >
                  <li class="list-group-item middle-black">W200
                  </li>

                  <li class="list-group-item  card-texti" >



                    <p style="direction: rtl">۱۴۳,۰۰۰تومان</p>


                    <p>سه ماهه</p>
                  </li>

                </ul>


                <div>
                  <ul class="list-group list-group-flush " >
                    <li class="list-group-item middle" style="direction: rtl">۱ گیگابایت</li>
                    <li class="list-group-item middle">۶۰ گیگابایت</li>
                    <li class="list-group-item middle">LiteSpeed</li>
                    <li class="list-group-item middle">CPanel</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">
                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>


                    <li class="list-group-item middle-black" >

                      <p><span class="span-icon"><a class="card-link" href="#">

                             خرید هاست</a>
                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>
                            </span></p>
                    </li>
                  </ul>
                </div>


                <!--                ---icons--footer----->


              </div>

              <div class="card host-card"  >
                <ul class="list-group list-group-flush " >
                  <li class="list-group-item middle-black" >W500</li>

                  <li class="list-group-item  card-texti" >



                    <p style="direction: rtl">۱۴۳,۰۰۰تومان</p>


                    <p>سه ماهه</p>
                  </li>


                </ul>



                <div>
                  <ul class="list-group list-group-flush " >
                    <li class="list-group-item middle" style="direction: rtl">۱ گیگابایت</li>
                    <li class="list-group-item middle">۶۰ گیگابایت</li>
                    <li class="list-group-item middle">LiteSpeed</li>
                    <li class="list-group-item middle">CPanel</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">
                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">نامحدود</li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>
                    <li class="list-group-item middle">

                      <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>

                    </li>


                    <li class="list-group-item middle-black" >

                      <p><span class="span-icon"><a class="card-link" href="#">

                             خرید هاست</a>
                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>
                            </span></p>
                    </li>
                  </ul>
                </div>
              </div>













            </div>

          </div>

        </div>
      </div>
    </div>



<!--    ===text---------->


    <div class="container">
      <div class="row my-3 ">
        <div class="col-md-12 ">

          <p class="text-center my-5">میزبانی وب ، هاست ویندوز
          </p>

          <!--          --line--------->
          <div class="titleborder  mb-4">

            <div class="titleborder_left"></div><div class="titleborder_sign"></div>
            <div class="titleborder_right"></div>

          </div>

          <p class="" style="direction: rtl;text-align: right;margin: 60px 0 120px 0">
            هدف ما برنده شدن نیست. هدف ما ارائه بهترین سرویس <strong>هاست</strong> با سرعت بالا و قابلیت اعتماد فوق العاده است. با این حال ما به دستاورد های تیم بزرگ خود که از زمان راه اندازی شرکت در سال ۱۳۸۲ با ما همراه بوده اند افتخار میکنیم که با کار سخت خود ما را به عنوان یکی از برترین و بزرگترین شرکت های <strong>هاست</strong> ایران تبدیل نموده اند. یکی از برترین سرویس های پویاسازان فروش <strong>هاست ویندوز</strong> میباشد.<br><br>
            سایت asp.net خود را با پویاسازان آغاز کنید.<br><strong>هاست ویندوز</strong> پویاسازان از قدرت و قابلیت انعطاف پذیری کنترل پنل پلسک و پشتیبانی از SQL Server و ASP.net و بسیاری از ویژگی های میزبانی وب ویندوز دیگر استفاده میکند.<br><br>
            کنترل پنل Plesk<br>
            Plesk یک پنل مدیریت <strong>هاست ویندوز</strong> و <strong>هاست</strong> لینوکس با ویژگی های بسیار مفیدی است که به شما کمک می کند <strong>هاست ویندوز</strong> خود را مدیریت کنید و به شما در ایجاد وب سایت ها، مدیریت آدرس های ایمیل، و استقرار برنامه ها در یک <strong>هاست ویندوز</strong> کمک می کند.<br>
            با Plesk، شما کنترل کاملی از زیر دامنه ، حساب های FTP و حساب های ایمیل خواهید داشت.<br><br>
            ویژگی های <strong>هاست ویندوز</strong><br><strong>هاست ویندوز</strong> پویاسازان شامل کنترل پنل انعطاف پذیر و آسان plesk ، و همچنین زیر دامنه های نامحدود، FTP و آدرس های ایمیل است. ویژگی های نامحدود اضافی عبارتند از MySQL، مایکروسافت SQL، و پایگاه داده MS Access.<br><br>
            ویژگی های برنامه نویسی<br><strong>هاست ویندوز</strong> آمریکا پویاسازان از زبان های برنامه نویسی ASP, ASP.NET 2.0, ASP.NET 3.5, ASP.NET 4.0, ASP.NET 4.7, PHP, Python, SSICurl, GD Library, MVC, AJAX پشتیانی میکند.<br><br>
            آیا شما به دنبال <strong>خرید هاست</strong> asp و یا شاید <strong>خرید هاست</strong> asp.net و یا شاید <strong>خرید هاست</strong> و دامین ویندوز ی هستید، <strong>هاست ویندوز</strong> پویاسازان مناسبترین <strong>هاست</strong> برای شما میباشد.<br>
            لازم است بدانید با استفاده از قابلیت wordpress toolkit کنترل پنل پلسک، <strong>هاست ویندوز</strong> پویاسازان برای اشخاصی است که به دنبال خرید <strong>هاست وردپرس</strong> هستند.</p>

        </div>





        <div class="col-md-5 text-left yellow-img">
          <img src="../assets/img/background/host3.png"/>

        </div>


        <div class="col-md-7 text-right">
          <h2>پشتیبانی حرفه ای</h2>
          <h3>ما در هر قدم از راه با شما هستیم</h3>

          <p>درپویاسازان، ما به پشتیبانی حرفه ای که به مشتریان خود ارائه میدهیم، افتخار میکنیم. تیم پشتیبانی ما، ستون فقرات شرکت پویاسازان هستند. کارشناسان پویاسازان همیشه آماده پاسخگویی به بهترین نحو ممکن به سوالات و مشکلات شما هستند.

            تنوع راه های پشتیبانی از تلفن و تیکت تا گفتگوی آنلاین، کارشناسان پشتیبانی پویاسازان همیشه همراه شما هستند
            میانگین زمان انتظار برای پاسخ به هر تیکت کمتر از ۱۵ دقیقه میباشد و هر روز تلاش ما دال بر کاهش میزان انتظار میباشد.

            چه شما یک حرفه ای وب باشید و یا فقط در حال راه اندازی اولین سایت خود باشید، کارشناسان خبره ما در هر قدم از راه با شما هستند ما ۲۴ ساعت شبانه روز ۷ روز هفته و ۳۶۵ روز سال آماده کمک به شما برای ارائه تجربه ای متفاوت از میزبانی وب به شما هستیم. به ما اجازه دهید خدماتی فراتر از انتظار به شما ارائه دهیم</p>
        </div>


<!--        ---2----->
          <div class="col-md-7 text-right">
            <h2>پشتیبانی حرفه ای</h2>
            <h3>ما در هر قدم از راه با شما هستیم</h3>

            <p>درپویاسازان، ما به پشتیبانی حرفه ای که به مشتریان خود ارائه میدهیم، افتخار میکنیم. تیم پشتیبانی ما، ستون فقرات شرکت پویاسازان هستند. کارشناسان پویاسازان همیشه آماده پاسخگویی به بهترین نحو ممکن به سوالات و مشکلات شما هستند.

              تنوع راه های پشتیبانی از تلفن و تیکت تا گفتگوی آنلاین، کارشناسان پشتیبانی پویاسازان همیشه همراه شما هستند
              میانگین زمان انتظار برای پاسخ به هر تیکت کمتر از ۱۵ دقیقه میباشد و هر روز تلاش ما دال بر کاهش میزان انتظار میباشد.

              چه شما یک حرفه ای وب باشید و یا فقط در حال راه اندازی اولین سایت خود باشید، کارشناسان خبره ما در هر قدم از راه با شما هستند ما ۲۴ ساعت شبانه روز ۷ روز هفته و ۳۶۵ روز سال آماده کمک به شما برای ارائه تجربه ای متفاوت از میزبانی وب به شما هستیم. به ما اجازه دهید خدماتی فراتر از انتظار به شما ارائه دهیم</p>
          </div>
          <div class="col-md-5 text-left yellow-img">
            <img src="../assets/img/background/host3.png"/>

          </div>


<!--        ------------3-->
        <div class="col-md-5 text-left yellow-img">
          <img src="../assets/img/background/host3.png"/>

        </div>


        <div class="col-md-7 text-right">
          <h2>پشتیبانی حرفه ای</h2>
          <h3>ما در هر قدم از راه با شما هستیم</h3>

          <p>درپویاسازان، ما به پشتیبانی حرفه ای که به مشتریان خود ارائه میدهیم، افتخار میکنیم. تیم پشتیبانی ما، ستون فقرات شرکت پویاسازان هستند. کارشناسان پویاسازان همیشه آماده پاسخگویی به بهترین نحو ممکن به سوالات و مشکلات شما هستند.

            تنوع راه های پشتیبانی از تلفن و تیکت تا گفتگوی آنلاین، کارشناسان پشتیبانی پویاسازان همیشه همراه شما هستند
            میانگین زمان انتظار برای پاسخ به هر تیکت کمتر از ۱۵ دقیقه میباشد و هر روز تلاش ما دال بر کاهش میزان انتظار میباشد.

            چه شما یک حرفه ای وب باشید و یا فقط در حال راه اندازی اولین سایت خود باشید، کارشناسان خبره ما در هر قدم از راه با شما هستند ما ۲۴ ساعت شبانه روز ۷ روز هفته و ۳۶۵ روز سال آماده کمک به شما برای ارائه تجربه ای متفاوت از میزبانی وب به شما هستیم. به ما اجازه دهید خدماتی فراتر از انتظار به شما ارائه دهیم</p>
        </div>



        <div class="col-md-12">

          <h2 style="direction: rtl;text-align: right;margin-top: 60px">سوالات متداول هاست ویندوز
          </h2>

          <p class="" style="direction: rtl;text-align: right;margin: 10px 0 120px 0">


            ۱- دیتاسنتر ارائه دهند <strong>هاست</strong> خارج از کشور پویاسازان کجا است ؟<br>پویاسازان سرور های <strong>هاست ویندوز</strong> خارج خود را از دیتاسنتر قدرتمند لیکوئید وب امریکا تهیه کرده است. این دیتاسنتر یکی از برترین ارایه دهندگان خدمات میزبانی وب در دنیا میباشد.<br><br>۲- در صورتی که <strong>هاست</strong> در شرکت دیگری ثبت شده باشد امکان انتقال آن به پویاسازان وجود دارد ؟<br>بله ، شما هر زمان که مایل باشید می توانید <strong>هاست</strong> خود را از شرکت دیگر به پویاسازان منتقل نمایید برای انتقال اطلاعات در صورتی که کنترل پنل هر دو <strong>هاست</strong> یکسان باشد با گرفتن نسخه پشتیبان از <strong>هاست</strong> مبدا و بازیابی آن در <strong>هاست</strong> مقصد اطلاعات منتقل خواهند شد ، در صورتی که کنترل پنل های <strong>هاست</strong> ها متفاوت باشند از هر قسمت جداگانه باید نسخه پشتیبان تهیه کرده و انتقال دهید و امکان دارد ایمیل ها به درستی منتقل نشوند سپس DNS <strong>هاست</strong> جدید را بر روی دامنه تنظیم نمایید تا سایت شما با اطلاعات <strong>هاست</strong> جدید بارگزاری شود .<br>در صورت تمایل پس از <strong>خرید هاست</strong> با تیم پشتیبانی برای انتقال اطلاعات در ارتباط باشید.<br><br>۳- حداقل زمان <strong>خرید هاست</strong> اشتراکی چه مدت است؟<br>حداقل زمان <strong>خرید هاست</strong> اشتراکی 1 سال است ، امکان <strong>خرید هاست</strong> اشتراکی به صورت ماهیانه وجود ندارد ، در صورت خرید بیش از یک سال مبلغ در تعداد سال ضرب می شود .<br><br>۴- آیا امکان تغییر پلن <strong>هاست</strong> به پلن بالاتر بعد از <strong>خرید هاست</strong> وجود دارد؟<br>هر زمان بعد از خرید مایل به ارتقا پلن <strong>هاست</strong> خود داشته باشید امکان این مورد وجود دارد ، که مبلغ ارتقا <strong>هاست</strong> شما با توجه به اختلاف قیمت بین 2 پلن و مدت زمان باقیمانده از <strong>هاست</strong> شما محاسبه می شود ، ارتقا پلن <strong>هاست</strong> شما هیچ تغییری در اطلاعات <strong>هاست</strong> شما ایجاد نمی کند ، دقت داشته باشید ارتقا پهنای باند یا حجم به تنهایی وجود ندارد و شما در صورت تمایل باید کل پلن <strong>هاست ویندوز</strong> را ارتقا دهید .<br><br>۵- نحوه اطلاع رسانی زمان انقضا <strong>هاست</strong> به چه صورت است ؟<br>پویاسازان از یک ماه قبل از انقضا <strong>هاست</strong> ، برای تمدید <strong>هاست</strong> در بازه 30 روزه یا در صورت عدم تمایل به تمدید ، برای تهیه بک آپ به کاربران از طریق ایمیل اطلاع رسانی می کند ( پس از انقضا تا 30 روز اطلاعات بر روی سرور حفظ خواهد شد ). همچنین شما می توانید لیست <strong>هاست</strong> های خود و تاریخ انقضا آن ها را در پرتال کاربری خود در پویاسازان مشاهده نمایید ، دقت داشته باشید پس از منقضی شدن و غیر فعال شدن <strong>هاست</strong> امکان بازگشایی برای تهیه بک آپ یا ... تا زمان تمدید مجدد وجود ندارد.

          </p>

        </div>


      </div>
    </div>

  </div>
</template>

<script>
    export default {
        name: "host"
    }
</script>

<style scoped>


  @media (max-width: 769px) {
    .subheader.contactus h1{
      font-size: 18px;
      padding: 20px;
    }

    .subheader.contactus p{
      font-size: 14px;

    }

  }


  /*.monthlyprice span {*/
  /*  color: #7E8D97;*/
  /*  font-weight: 800;*/
  /*  font-size: 30px;*/
  /*  display: block;*/
  /*  padding: 12px 0;*/
  /*}*/

  .subheader.contactus {
    padding: 50px 0 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/host.jpg) center top fixed;
    /*border-bottom: 6px solid rgb(230, 230, 230);*/
  }

  .host-container {
    margin: 0 auto;
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subheader {
    position: relative;
    min-height: 230px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0 20px 0;

  }

  .subheader p {
    padding: 0 80px;
    color: #fff;
    font-size: 19px;
    margin-bottom: 60px;
    direction: rtl;
  }




  .titleborder {
    margin-top: -20px;
    text-align: center;
  }
  .titleborder_left {
    height: 1px;
    width: 37%;
    margin-right: 13%;
    margin-left: auto;
  }

  .titleborder_sign {
    background: #fe8f8c;
    width: 14%;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: -3px;
    left: 43%;
    right: 43%;
  }
  .titleborder_left, .titleborder_right {
    background: #dfdfdf;
  }
  .titleborder_right {
    height: 1px;
    width: 37%;
    margin-right: auto;
    margin-left: 13%;
  }

  .description{

    padding: 20px 80px;
    margin-bottom: 40px;
    text-align: center;

  }

  .host-card{
  direction: ltr;
  }


  @media only screen and (max-width: 767px){
    .description  {
       padding: 20px;
    }
  }
  .yellow-img img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;

    display: inline-block;
    vertical-align: middle;

  }

  .subheader .mores{
    margin: 0 auto;
    display: table;
    text-align: center;
  }

  .mores span {
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 15px;
  }
  .mores span a{
    color: white;
  }

  .middle-black{
    background: #3D3F40;
    color:white ;
    font-weight: bold;
    /*font-size: 20px;*/
    border:none ;
  }


  .card{
    border:none ;

  }
    .middle{
      background: #494B4C;
      border-bottom: solid 1px #5a5c5d;
      color: white;
    }

    .white-section .middle{
      background: #EDEDED;
      text-align: right;
      color: #333;
      border-bottom: solid 1px #e1e1e1;
    }

    .card-texti{
      background: url(../assets/img/pattern1.png) #E3EDEE;
      text-align: center;
      padding: 18px 0 18px 0;
      color: #7E8D97;
      font-weight: 800;
      /*min-height: 25vh;*/
      font-size: 14px;
      -moz-box-shadow: inset 0 0 10px #c1cbd1;
      -webkit-box-shadow: inset 0 0 10px #c1cbd1;
      box-shadow: inset 0 0 10px #c1cbd1;
    }

    .middle-black .card-link{
      font-size: 14px;
      color: white;
    }

    .span-icon{
      background: #78b3d4;
    border-radius: 6px;
    padding: 3px;
    display: inline-block}
    .card-texty{
      background: url(../assets/img/pattern1.png) ;
      text-align: center;
      padding: 18px 0 18px 0;
      color: #7E8D97;
      font-weight: 800;
      font-size: 14px;
      -moz-box-shadow: inset 0 0 10px #c1cbd1;
      -webkit-box-shadow: inset 0 0 10px #c1cbd1;
      box-shadow: inset 0 0 10px #c1cbd1;
    }
  @media (max-width: 430px) {
    .subheader p {
      padding: 0 5px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    .yellow-img img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;

      display: inline-block;
      vertical-align: middle;

      margin: 40px 0 20px 0;

    }

  }
</style>
