<template>
  <div>
    <!--    ---slideshow---------->

    <div class="w-100">
      <div class="your-class" id="slidshow">
        <div><img src="../assets/img/slider/1.jpg" style="width: 100%"/></div>
        <div><img src="../assets/img/slider/_2.jpg" style="width: 100%"/></div>
        <div><img src="../assets/img/slider/_3.jpg" style="width: 100%"/></div>
        <div><img src="../assets/img/slider/_4.jpg" style="width: 100%"/></div>
        <div><img src="../assets/img/slider/_5.jpg" style="width: 100%"/></div>
      </div>
    </div>

    <!--    ---------container------>
    <div class="container my-5 py-5">
      <div class="row justify-content-center text-center ">

        <div class="col-md-4">
          <img src="../assets/img/shek3.png"/>
          <h2>ثبت آنلاین دامین با کنترل پنل اختصاصی</h2>
          <p>پویاسازان بزرگترین مرکز ثبت دامین با بیشترین پسوند قابل ثبت در ایران با امکان ثبت دامین های فارسی بوده و
            دامین های ارائه شده توسط پویاسازان با مالکیت قطعی و دارای کنترل پنل اختصاصی میباشند.</p>
        </div>


        <div class="col-md-4">
          <img src="../assets/img/shek2.png"/>

          <h2>سرور مجازی با قابلیت های ابری</h2>
          <p>سرعت و راحتی همراه با قیمت عالی
            سرور مجازی پویاسازان توسط مجازی ساز قدرتمند KVM در کشور های آلمان و انگلیس و با امکانات و منابع کاملاً
            اختصاصی ارائه می گردند.</p>
        </div>

        <div class="col-md-4">
          <img src="../assets/img/shek1.png"/>

          <h2>خرید هاست ، تحویل سرویس در لحظه
          </h2>
          <p>تحویل آنی و خودکار هاست پس از پرداخت آنلاین
            سرویس های هاست پویاسازان با استفاده از محبوبترین و قدرتمندترین کنترل پنل های مدیریت هاست CPanel و Plesk در
            پیشرفته ترین مراکز دیتا در جهان ارائه میشوند.</p>
        </div>

      </div>

    </div>

    <!--    ---------bg-silver------>
    <div class="bg-color ">
      <div class="container">
        <div class="row justify-content-center text-center  ">

          <div class="col-md-4 col-sm-12 col-12 pt-4 ">

            <div class="card">
              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
              <ul class="list-group list-group-flush card-uls">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>

              </div>
            </div>

          </div>





          <div class="col-md-4 pt-4">

            <div class="card ">

              <img src="../assets/img/server/linux-host-tab.png" class="card-img-top" alt="">
              <div class="card-body title">

                <h5 class="card-text text-white">هاست لینوکس</h5>



              </div>

              <div>
                <ul class="list-group list-group-flush safety-ul">
                  <li class="list-group-item middle">Cras justo odio</li>

                </ul>
              </div>


<!--              <li class="list-group-item middle-black" >-->

<!--                <p><span class="span-icon"><a class="card-link" href="#">-->

<!--                             مشاهده همه پلن ها</a>-->
<!--                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>-->
<!--                            </span></p>-->
<!--              </li>-->

              <div class="card-body footer">



                <p><span class="span-icon"><a class="card-link text-white" href="#">

                             مشاهده همه پلن ها</a>
                             <i class="" ><fa :icon="['fas', 'shopping-cart']"  :style="{ color: 'white' ,textAlign:'left', }"/> </i>
                            </span></p>

              </div>


            </div>


          </div>

<!--          <div class="col-md-4 pt-4">-->


<!--            <div class="card me">-->
<!--              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">-->
<!--              <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                  card's content.</p>-->
<!--              </div>-->
<!--              <ul class="list-group list-group-flush card-uls">-->
<!--                <li class="list-group-item">Cras justo odio</li>-->
<!--                <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                <li class="list-group-item">Vestibulum at eros</li>-->
<!--                <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                <li class="list-group-item">Vestibulum at eros</li>-->
<!--              </ul>-->
<!--              <div class="card-body">-->
<!--                <a href="#" class="card-link">Card link</a>-->

<!--              </div>-->
<!--            </div>-->


<!--          </div>-->

          <div class="col-md-4 pt-4">

            <div class="card">
              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
              <ul class="list-group list-group-flush card-uls">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>

              </div>
            </div>

          </div>


          <div class="col-md-4 pt-4 ">

            <div class="card">
              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
              <ul class="list-group list-group-flush card-uls">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>

          </div>

          <div class="col-md-4 pt-4">


            <div class="card">
              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
              <ul class="list-group list-group-flush card-uls">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>

              </div>
            </div>


          </div>

          <div class="col-md-4 pt-4">

            <div class="card">
              <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
              <ul class="list-group list-group-flush card-uls">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>

              </div>
            </div>


          </div>


        </div>
      </div>
    </div>

    <!--    --blue section------->
    <div class="container-fluid calltoaction text-center ">
      <p>نیاز به مشاوره و یا سوالی درباره ثبت دامنه، خرید هاست، سرور مجازی، سرور اختصاصی و... دارید؟</p>
      <button class="btn btn-primary">گفتگوی آنلاین</button>
    </div>

    <!-- -----   ---background-------------->

    <div class="back">

    </div>
    <!-------????????????????-->
    <!--    ------silver section--------->
    <div class="bg-seccond">
      <div class="container ">
        <div class="row justify-content-center text-center  ">


          <div class="col-md-6">
            <h3 style="margin-bottom: 35px">ویدئو پسوندهای جدید ثبت دامنه را ببینید</h3>
            <img src="../assets/img/img_video.jpg" style="width: 100%"/>
          </div>
          <div class="col-md-6">
            <h3 style="margin-bottom: 35px">چرا پویاسازان را انتخاب کنید؟</h3>

            <div class="panel-jadval">

              <ul class="jadval d-flex" >


                <!--           -----------------------correct  logo and text in ul and li------------- -->


                <li class=" nav-item date ">
                  <a class="nav-links" href="#" style="color: black">۷روز گارانتی بازگشت وجه (شرایط)<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="color: black"> محافظت در برابر حملات<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>


                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="color: black">قابلیت اطمینان بالا<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="color: black"> بکاپ گیری مرتب روزانه<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>


                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black"> امنیت بالا<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black">   سرورهای سریع و قدرتمند<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>


                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black">آپ تایم بالا<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black">تکنولوژی برتر<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>


                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black">میزبانی تخصصی وردپرس<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

                <li class=" nav-item date">
                  <a class="nav-links" href="#" style="display: inline-block;color: black">انتقال رایگان وب سایت<i>
                    <fa :icon="['fas', 'circle']" :style="{ color: '#78b3d4' ,textAlign:'right', float:'right'}"/>
                  </i></a>
                </li>

              </ul>
            </div>




          </div>




        </div>


        <!--  ---  text------------>
        <div class="row justify-content-start  ">
          <div class="col-12 text-right align-content-around">

            <div class="w-100 py-4">

              <div class="my-text" style="direction: ltr">
                <div><p>هاست لینوکس چیست؟
                  <br/>
                  سرویس هاست لینوکس اشتراکی ایران و هاست لینوکس اشتراکی آمریکا پویاسازان جهت ارائه خدمات به وب سایت هایی
                  با
                  بازدید و مصرف معمولی از منابع سرور است که کدنویسی و برنامه نویسی آن بر پایه سیستم عامل لینوکس و با
                  زبان
                  های برنامه نویسی php یا CGI یا perl و ... می باشد. هاست لینوکس بدین معناست که فقط سیستم عامل نصب شده
                  بر
                  روی سرور، لینوکس است و هیچ ارتباطی با سیستم عامل کامپیوتر استفاده کننده ندارد و چنانچه بر روی کامپیوتر
                  شما
                  سیستم عامل ویندوز نصب باشد به راحتی می توانید از هاست لینوکس پویاسازان استفاده نمایید.
                  سرويس های هاست، هاستینگ ما بر روی قویترین سرورهای لینوکس در یکی از مجهز ترین دیتا سنترهای آمریکا و
                  ایران
                  واقع شده اند. ما از آخرین نسخه پنل مدیریت هاستینگ، هاست لینوکس ، Cpanel به عنوان کنترل پنل هاست،
                  هاستینگ
                  لینوکس آمریکا و از آخرین نسخه کنترل پنل plesk برای هاست لینوکس ایران استفاده میکنیم.

                  سرورهای لینوکس از محبوبت خاصی برخوردار هستند که مهمترین عامل آن کد باز بودن و رایگان بودن آن است. هاست
                  لینوکس بیشتر برای استفاده از زبان PHP و همچنین بانک اطلاعتی MySql است. معمولاً برای هاست لینوکس از
                  کنترل
                  پنل‌های سی‌پنل، دایرکت ادمین، پلسک و کلوکزو استفاده می‌شود.
                  ارائه کنترل پنل کامل وب هاستینگ ، هاست Cpanel ، با امکانات وسیع و کاربری آسان ، کارایی و بهره وری
                  سرویس وب
                  سایت شما را بالا برده تا با کمترین کوشش ، بهترین نتیجه را از سرویس هاست لینوکس دریافت نمایید.
                  ارائه کنترل پنل کامل هاستینگ ، هاست Plesk ، با امکانات فوق العاده ، کاربری آسان و رابط گرافیکی زیبا و
                  کاربر پسند ، کارایی و بهره وری وب سایت شما را بالا برده تا با کمترین تلاش ، بیشترین نتیجه را از
                  امکانات
                  هاستینگ ، هاست لینوکس داخل ایران ( ملی ) دریافت نمایید.
                  برای کاربرانی که سایت های پربازدید دارند سرویس هاست لینوکس حرفه ای پویاسازان یکی از بهترین گزینه ها
                  میباشد. سرویس هاست حرفه ای، با هارد های پرقدرت SSD و وب سرویس قدرتمند LiteSpeed سرعت بارگزاری سایت شما
                  را
                  4 برابر بیشتر میکند.
                  سرويس های هاست، هاستینگ حرفه ای ما بر روی قویترین سرورهای لینوکس در یکی از مجهز ترین دیتا سنترهای
                  آمریکا
                  واقع شده اند. پویاسازان از آخرین نسخه نرم افزار مدیریت هاست ، هاستینگ لینوکس ، Cpanel به عنوان کنترل
                  پنل
                  هاست، هاستینگ لینوکس استفاده میکنیم. این سرویس با استفاده از وب سرور قدرتمند Lite peed سرعت بالا در
                  بارگزاری سایت را نوید میدهد.</p>

                </div>
                <div><p>

                  هاست ویندوز
                  <br/>
                  هاست ویندوز پویاسازان مجهز به آخرین تکنولوژی های سخت افزاری و نرم افزاری بوده واز کنترل پنل هاست Plesk
                  جهت
                  مدیریت هاست ویندوز بهره مند میباشد. پویاسازان سرویس هاستینگ، هاست اشتراکی ویندوز را در ایران و آمریکا
                  ارائه میدهد. هاست ویندوز پویاسازان، تمامی کامپوننت های زبان های برنامه نویسی asp, asp.net, SQL Server
                  و …
                  را پشتیبانی می کند. در واقع این هاست تمامی نیازهای شما را به عنوان یک برنامه نویس مرتفع می نماید.

                  خرید هاست ویندوز
                  برنامه نویسانی که با زبان های برنامه نویسی تحت ویندوز کار میکنند همیشه به دنبال خرید هاست asp ، خرید
                  هاست
                  asp.net ، خرید هاست MVC و یا خرید هاست plesk هستند زیرا کنترل پنل قدرتمند پلسک از اکثر زبان های برنامه
                  نویسی ویندوز پشتیبانی میکنند. پویاسازان بر روی هاست ایران و هاست آمریکا خود از آخرین نسخه زبان های
                  برنامه
                  نویسی asp و asp.net پشتیبانی میکند.

                  خرید هاست ارزان
                  پویاسازان به عنوان یکی از بهترین هاستینگ های ایران هیچ زمان کمیت را فدای کیفیت نمیکند و از دیتاسنترهای
                  برتر ایران و خارج از ایران برای ارائه سرویس های هاست ایران، هاست خارج از ایران، سرور مجازی آلمان، سر
                  ور
                  مجازی انگلیس، هاست وردپرس حرفه ای، هاست مخصوص پرستاشاپ و سرور اختصاصی استفاده میکند.

                </p></div>


                <div><p>ثبت دامین .ir
                  <br/>
                  پسوند .ir پسوند دامنه های اینترنتی کشور ایران است و اگر بخواهید دامنه ای تحت این پسوند ثبت یا تمدید
                  نمایید
                  باید از طریق پژوهشگاه دانشهای بنیادی (مرکز تحقیقات فیزیک نظری) که با نام ایرنیک (IRNIC) نیز شناخته
                  می‌شود،
                  اقدام نمایید. مرکز ثبت دامنه های مرتبه‌ اول کشوری نقطه آی‌ آر (‎.ir) و نقطه ایران (.ایران) متولی ثبت،
                  تمدید، انتقال، حذف و انجام همه کارهای فنی، اداری، مالی و حقوقی مرتبط با دامنه‌ های سطح‌ بالای کشوری
                  ‎.ir،
                  و دامنه‌ های مرتبه دوم آن شامل ‎.ac.ir، ‎.co.ir، ‎.gov.ir، ‎.id.ir، ‎.net.ir، ‎.org.ir، ‎.sch.ir و
                  دامنه
                  سطح بالای کشوری بین‌المللی شده ایران می‌باشد.
                  پویاسازان نماینده رسمی ایرنیک در ثبت دامنه ir است.

                  مزیت ثبت دامنه مخفی
                  از حریم خصوصی خود محافظت کنید
                  هنگام ثبت دامنه، نام، آدرس و شماره تلفن ارسالی شما باید به دایرکتوری WHOIS منتشر شود. اطلاعات شما
                  عمومی
                  است و در هر زمان برای هر کسی قابل دسترسی است و توسط شرکت اینترنتی برای نامگذاری و شماره اختصاصی
                  (ICANN) به
                  عنوان بخشی از روند ثبت نام دامنه مورد نیاز است. برای محافظت از خود در مقابل هرزنامه احتمالی، هکرها و
                  یا
                  سایبری جنایی جنایی با استفاده از ID Protect میتوانید همزمان با اینکه شما هنوز مالک دامین هستید اطلاعات
                  خود
                  را مخفی کنید.
                  ثبت مخفی ما یک راه برای محافظت از حریم خصوصی شما است، در حالی که به عنوان مالک دامنه باقی مانده اید.
                </p>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>


    <!--    ------------logos------------------>
    <div class="bg-color">
      <div class="container section">
        <div class="row justify-content-center text-center ">
          <ul>
            <li style="display: inline-block"><img src="../assets/img/logos/1.png"/></li>
            <li style="display: inline-block"><img src="../assets/img/logos/2.png"/></li>
            <li style="display: inline-block"><img src="../assets/img/logos/1.png"/></li>
            <li style="display: inline-block"><img src="../assets/img/logos/nezam.png"/></li>

          </ul>

          <!--          <fa :icon="['fas', 'dollar-sign']"  :style="{ color: 'red' }"/>-->


        </div>
      </div>
    </div>
    <!--    -------------->
  </div>
</template>

<script>

    export default {
        name: "index",
        mounted() {
            //$( "body" ).css("backgroundColor", "red");
            $('.my-text').slick({
                    dots: false,
                    arrows: false,
                    speed: 3000,
                    autoplay: true,
                    fade: true
                }
            );

            $('#slidshow').slick({
                dots: true,
                infinite: false,
                nextArrow: false,
                arrows: false,
                rtl:true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        }
    }
</script>

<style lang="scss">

  .safety-ul{
    display: contents;
  }


  .card{
    border-radius: 12px;
    border: 0;
    /*margin: 0 7px 0 7px;*/
  }
  .card-body.title
  {
    background: #3D3F40;
    /*border-radius: 12px 12px 0  0;*/
  }

  .card-body.footer{
    background: #3D3F40;
    border-radius: 0  0 12px 12px ;
  }

  .middle{
    background: url(../assets/img/pattern.png) #E3EDEE;
    padding: 25px 0 18px;
    color: #7E8D97;
    font-size: 14px;
  }


  .middle-black{
    background: #3D3F40;
    color:white ;
    font-weight: bold;
    /*font-size: 20px;*/
    border:none ;
  }

  .middle-black .card-link{
    font-size: 14px;
    color: white;
  }

  .span-icon{
    background: #78b3d4;
    border-radius: 6px;
    padding: 3px;
    display: inline-block
  }
  .card-texti{
    background: url(../assets/img/pattern1.png) ;
    text-align: center;
    padding: 18px 0 18px 0;
    color: #7E8D97;
    font-weight: 800;
    font-size: 14px;
    -moz-box-shadow: inset 0 0 10px #c1cbd1;
    -webkit-box-shadow: inset 0 0 10px #c1cbd1;
    box-shadow: inset 0 0 10px #c1cbd1;
  }




  /*---------talaee and sormei clor change----*/
  .index-li{
    direction: rtl;

    /*background-color: rgb(73, 75, 76);*/
    background-color: #0E374B;
    padding: 0.9375em;
    border-bottom: 1px solid rgb(90, 92, 93);
    color: #fffe23;
  }
  /*@media (min-width: 300px) and (max-width:330px) {*/

  /*@media (min-width: 331px) and (max-width:380px) {*/

  /*@media (min-width: 385px) and (max-width:430px) {*/

  /*@media (max-width: 430px) {*/


</style>


<!--<style lang="scss">-->

<!--.containers {-->
<!--  margin: 0 auto;-->
<!--  min-height: 100vh;-->
<!--  display: flex;-->
<!--  justify-content: center;-->
<!--  align-items: center;-->
<!--  text-align: center;-->
<!--}-->

<!--  .title {-->
<!--  text-align: center;-->
<!--    font-weight: 300;-->
<!--    font-size: 30px;-->
<!--    color: red;-->

<!--}-->



<!--</style>-->
