<template>
  <div class="safety-container">


    <div class="subheader contactus">
      <h1>درباره پویاسازان</h1>
    </div>



    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <p class="text-center my-5">سرور مجازی آلمان
          </p>

          <!--          --line--------->
          <div class="titleborder  mb-4">

            <div class="titleborder_left"></div><div class="titleborder_sign"></div>
            <div class="titleborder_right"></div>

          </div>


          <p class="text-center justify-content-end"  >
            پروتکل (SSL (Socket Secure Layer ، یک استاندارد وب برای کدکردن اطلاعات بین کاربر و وب سایت است. اطلاعاتی که توسط یک اتصال SSL مبادله می شوند بصورت کد شده ارسال می شوند و بدین ترتیب اطلاعات مبادله شده از دزدیده شدن یا استراق سمع محافظت می شوند. SSL برای شرکتها و مشتریان این امکان را فراهم می کند که بتوانند با اطمینان اطلاعات خصوصی شان را مانند شماره کارت اعتباری، به یک وب سایت بطور محرمانه ارسال کنند. برای برقراری یک اتصال SSL به Web Server Certificateها نیاز می باشد.            <br/>
          </p>

        </div>

      </div>
    </div>



    <div class="bg-color ">
      <div class="container">
        <div class="row justify-content-center text-center  ">



          <div class="col-md-4 pt-4">

            <div class="card ">

              <img src="../assets/img/server/linux-host-tab.png" class="card-img-top" alt="">
              <div class="card-body title">

                <p class="card-text">make up the bulk of the
                  card's content.</p>



              </div>

              <div>
                <ul class="list-group list-group-flush safety-ul">
                  <li class="list-group-item middle">Cras justo odio</li>

                </ul>
              </div>




              <div class="card-body footer">

                <p><span class="span-icon"><a class="card-link" href="#">

       سفارش گواهینامه</a>
       <i class="" ><fa :icon="['fas', 'circle']"  :style="{ color: 'red' ,textAlign:'left', }"/> </i>
      </span></p>

              </div>
            </div>


          </div>


          <div class="col-md-4 pt-4">

            <div class="card ">
              <div class="card-body title">

                <img src="../assets/img/background/logo-5.png"/>
                <p class="card-text">make up the bulk of the
                  card's content.</p>
              </div>

              <div>
                <ul class="list-group list-group-flush safety-ul">
                  <li class="list-group-item middle">Cras justo odio</li>

                </ul>
              </div>




              <div class="card-body footer">

                <p><span class="span-icon"><a class="card-link" href="#">

       سفارش گواهینامه</a>
       <i class="" ><fa :icon="['fas', 'circle']"  :style="{ color: 'red' ,textAlign:'left', }"/> </i>
      </span></p>

              </div>
            </div>


          </div>



          <div class="col-md-4 pt-4">

            <div class="card ">
              <div class="card-body title">

                <img src="../assets/img/background/logo-5.png"/>
                <p class="card-text">make up the bulk of the
                  card's content.</p>
              </div>

              <div>
                <ul class="list-group list-group-flush safety-ul">
                  <li class="list-group-item middle">Cras justo odio</li>

                </ul>
              </div>




              <div class="card-body footer">

      <p><span class="span-icon"><a class="card-link" href="#">

       سفارش گواهینامه</a>
       <i class="" ><fa :icon="['fas', 'circle']"  :style="{ color: 'red' ,textAlign:'left', }"/> </i>
      </span></p>

              </div>
            </div>


          </div>


        </div>


        <div class="row">

          <div class="col-md-12">
            <p class="text-right  my-5" >           <strong>توجه:</strong><br>تمامی گواهینامه های SSL صادره توسط شرکت Izenpe به همراه ۲ عدد SAN رایگان ارائه میشوند.<br>تمامی گواهینامه های SSL صادره توسط شرکت های OpenTrust و Izenpe و Certum امکان صدور و ارائه از ۱ تا ۳ سال را دارند.<br>

            </p>




            <!--          --line--------->

          </div>


        </div>






      </div>
    </div>



  </div>
</template>

<script>
    export default {
        name: "safety"
    }
</script>

<style scoped>

  .subheader.contactus {
    padding: 50px 0 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/contactus_bg.jpg) center top fixed;
    border-bottom: 6px solid rgb(230, 230, 230);
  }


  .safety-container {
    margin: 0 auto;
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .subheader {
    position: relative;
    min-height: 200px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .titleborder {
    margin-top: -20px;
    text-align: center;
  }
  .titleborder_left {
    height: 1px;
    width: 37%;
    margin-right: 13%;
    margin-left: auto;
  }

  .titleborder_sign {
    background: #fe8f8c;
    width: 14%;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: -3px;
    left: 43%;
    right: 43%;
  }
  .titleborder_left, .titleborder_right {
    background: #dfdfdf;
  }
  .titleborder_right {
    height: 1px;
    width: 37%;
    margin-right: auto;
    margin-left: 13%;
  }

  .card{
    border-radius: 12px;
    border: 0;
    /*margin: 0 7px 0 7px;*/
  }
 .card-body.title
 {
  background: #3D3F40;
   /*border-radius: 12px 12px 0  0;*/
 }

  .card-body.footer{
    background: #3D3F40;
    border-radius: 0  0 12px 12px ;
  }

 .middle{
    background: url(../assets/img/pattern.png) #E3EDEE;
    padding: 25px 0 18px;
    color: #7E8D97;
    font-size: 14px;
  }

  .span-icon {
    font-size: 16px;
    font-weight: 800;
    background: #78b3d4;
    padding: 4px 15px;
    border-radius: 6px;
  }

  .span-icon a{
    color: #fff;

  }
  .card-text{
    color: white;
  }

  .safety-ul{
    display: contents;
  }



</style>
