<template>
    <div class="my-container">

      <div class="subheader contactus">
        <h1>سرور مجازی آلمان، برترین تکنولوژی در کنار بهترین سخت افزار</h1>

        <p class="text-center text-white">اکنترل و عملکرد اختصاصی در محیطی مقیاس پذیر</p>

        <div class="mores"><span><a href="#">بیشتر بدانید</a></span></div>


      </div>


      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <p class="text-center my-5">سرور مجازی آلمان
            </p>

            <!--          --line--------->
            <div class="titleborder  mb-4">

              <div class="titleborder_left"></div><div class="titleborder_sign"></div>
              <div class="titleborder_right"></div>

            </div>


      <p class="text-center justify-content-end" style="direction:rtl">
        سرور مجازی ویندوز و سرور مجازی لینوکس برای کاربرانی که وب سایت آنها دارای بازدید بالا و مصرف منابع سرور بیش از حد معمول هاست اشتراکی را دارد و همچنین کاربرانی که نیاز به دسترسی در سطح سرور اختصاصی اما با هزینه پایین تر دارند مناسب است. سرور های مجازی پویاسازان قدرت گرفته از مجازی ساز KVM با منابع کاملاً اختصاصی در بهترین دیتاسنترهای آلمان میباشد.
        <br/>
      </p>

          </div>

        </div>
      </div>


<!--   ----       bg-silver---------->

          <div class="bg-color ">
            <div class="container">
              <div class="row justify-content-center text-center  ">

                <div class="col-md-4 col-sm-12 col-12 pt-4 ">

                  <div class="card">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 pt-4">


                  <div class="card ">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>

                    </div>
                  </div>


                </div>

                <div class="col-md-4 pt-4">

                  <div class="card">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>

                    </div>
                  </div>

                </div>


                <div class="col-md-4 pt-4 ">

                  <div class="card">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 pt-4">


                  <div class="card">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>

                    </div>
                  </div>


                </div>

                <div class="col-md-4 pt-4">

                  <div class="card">
                    <img src="../assets/img/Capture.JPG" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush server-ul">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>

                    </div>
                  </div>


                </div>


              </div>


              <div class="row">

                <div class="col-md-12">
                  <p class="text-center my-5">سرور مجازی آلمان
                  </p>

                  <!--          --line--------->
                  <div class="titleborder  mb-4">

                    <div class="titleborder_left"></div><div class="titleborder_sign"></div>
                    <div class="titleborder_right"></div>

                  </div>

                </div>





                <div class="col-md-4 server-col ">

                  <div class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>


                    <h4> قابلیت افزایش سخت افزار</h4>

                  </div>
                  <p class="p-icon">شما میتوانید با کمترین سرویس کار خود را آغاز کنید و هر زمان نیاز داشتید با چند کلیک، منابع سخت افزاری خود را افزایش دهید</p>


                  <div  class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

                    <h4> عملکرد فوق العاده</h4>

                  </div>

                  <p class="p-icon">با استفاده از مجازی سازهایی مانند KVM، ما سرور های مجازی ارائه میدهیم که هم قدرتمند و هم به راحتی قابل استفاده هستند.</p>
                </div>



                <div class="col-md-4 server-col ">

                  <div class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>


                    <h4> منابع تضمین شده</h4>

                  </div>

                  <p class="p-icon">با استفاده از قطعات با عملکرد بالا،وب سایت های شما همیشه در سطح مطلوب خواهند بود، به لطف مجازی ساز KVM منابع شما تضمین شده بوده و همیشه در دسترس میباشند</p>

                  <div  class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

                    <h4> سخت افزار قدرتمند و به روز</h4>

                  </div>

                  <p class="p-icon">تمامی سرورهای مجازی پویاسازان بر روی سرورهای قدرتمند با سخت افزاری به روز ایجاد میشوند تا همیشه سرویس مطلوبی به شما ارائه کنند.</p>

                </div>

                <div class="col-md-4 server-col">

                  <div class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>


                    <h4> تحویل فوری</h4>

                  </div>

                  <p class="p-icon">در حالی که اکثر سرویس دهندگان سرور مجازی، برای تحویل سرویس از چندین ساعت تا چندین روز زمان نیاز دارند،سرورهای مجازی پویاسازان به صورت خودکار ایجاد و طی چند دقیقه تحویل میشوند.</p>

                  <div  class="icon-seccond" style="display: flex">
                    <i class="icone" ><fa :icon="['fas', 'circle']"  :style="{ color: 'white' ,textAlign:'right'}"/> </i>

                    <h4>شبکه پایدار</h4>

                  </div>

                  <p class="p-icon">سرورهای پویاسازان در مطمئن ترین دیتاسنترهای کشورهای انگلیس و آلمان که از شبکه قوی استفاده میکنند، اطمینان خاطر را برای کاربران به همراه دارد.</p>

                </div>


              </div>





                </div>
          </div>



    </div>
</template>

<script>
    export default {
        name: "servers"
    }
</script>

<style scoped>



  .subheader .mores{
    margin: 0 auto;
    display: table;
    text-align: center;
  }

  .mores span {
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 15px;
  }
  .mores span a{
    color: white;
  }


  @media (max-width: 769px) {
    .subheader.contactus h1{
      font-size: 18px;
      padding: 20px;
    }

    .subheader.contactus p{
      font-size: 14px;

    }

  }

  .subheader p {
    padding: 0 80px;
    color: #fff;
    font-size: 19px;
    margin-bottom: 60px;
    direction: rtl;
  }



  .subheader.contactus {
    padding: 50px 0px 70px;
    /*height: 100vh;*/
    background: url(../assets/img/background/server.jpg) center top fixed;
    border-bottom: 6px solid rgb(230, 230, 230);
  }


  .my-container {
    margin: 0 auto;
    min-height: 100vh;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subheader {
    position: relative;
    min-height: 200px;
    padding: 0;
    margin: 0;
  }

  .subheader h1, .subheader h3 {
    font-size: 33px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .titleborder {
    margin-top: -20px;
    text-align: center;
  }
  .titleborder_left {
    height: 1px;
    width: 37%;
    margin-right: 13%;
    margin-left: auto;
  }

  .titleborder_sign {
    background: #fe8f8c;
    width: 14%;
    height: 4px;
    position: absolute;
    display: inline-block;
    margin-top: -3px;
    left: 43%;
    right: 43%;
  }
  .titleborder_left, .titleborder_right {
    background: #dfdfdf;
  }
  .titleborder_right {
    height: 1px;
    width: 37%;
    margin-right: auto;
    margin-left: 13%;
  }

  .card{
    border-radius: 12px;
  }
  .card-img-top{
    border-radius: 12px 12px 0 0;
  }

  .col-md-4>div .icone {
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 62px;
    height: 62px;
    background: #78b3d4;
    border-radius: 50%;
    padding: 22px ;
    display: inline-block;
    margin: 10px 0;

  }

  .p-icon{
    text-align: right;
  }
  .icon-seccond{

    display: flex;
    flex-direction: column-reverse;
  }
  .icon-seccond h4{
    position: absolute;
    right: 5rem;
    font-size: 14px;
    font-weight: bold;
    /*bottom: 20px;*/
    /*padding: 0px 0px 50px 0px;*/
    margin:20px 0 20px 0 ;

  }

  .server-col{
    display: grid;
  }

  .server-ul{
    direction: ltr;
  }
</style>
